<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>
  .text-left {
    text-align: left;
  }

</style>
<th:block layout:fragment="content">
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>회원 관리</h2>
        <!--<a title="북마크" class="bookmark toggle">
            내메뉴
        </a>-->
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>회원 관리</li>
      </ul>
    </div>
    <!-- Select -->
    <div class="tab-contents">
      <section class="tab-item" id="tab2" style="height: 750px; overflow: hidden;">
        <div class="section-top">
          <div class="search-wrap">
            <dl>
              <dt>
                <label for="searchUserNm">
                  날짜<span class="eq">*</span>
                </label>
              </dt>
              <dd>
                <ul class="date-box">
                  <li>
                    <input type="date" id="startDate" name="startDate">
                    <label for="startDate" class="hide">시작일</label>
                  </li>
                  <li>
                    <input type="date" id="endDate" name="endDate">
                    <label for="endDate" class="hide">종료일</label>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt>
                <label for="searchUserNm">
                  회원명<span class="eq">*</span>
                </label>
              </dt>
              <dd>
                <div class="srch-box">
                  <input type="text" id="searchUserNm" name="searchUserNm" class="input-srch"
                         placeholder="회원명" style="border-radius: 5px;">
                </div>
              </dd>
            </dl>
            <dl>
              <dt>&nbsp;</dt>
              <dd>
                <li>
                  <a class="btn btn-delete" title="검색" id="searchButton1" onclick="fetchListData()">
                    <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                    <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                    검색
                  </a>
                </li>
              </dd>
            </dl>
          </div>
        </div>
        <div class="container-fluid">
          <p id="selectedItem"></p>
          <div id="theGrid" style="max-height: 630px"></div>
        </div>
      </section>
    </div> <!--//tab-wrap end-->
  </div> <!--//layout-contents end -->
  <footer>
    <p>Copyrightⓒ factCheck corp. All rights reserved.</p>
  </footer>
</th:block>
<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript">


    $(document).ready(function() {
      // 현재 날짜 설정
      const today = new Date();
      const year = today.getFullYear();
      const month = today.getMonth();

      // 시작일
      const startOfYear = new Date(year, 0, 1);
      const startYearFormatted = `${startOfYear.getFullYear()}-${String(startOfYear.getMonth() + 1).padStart(2, '0')}-${String(startOfYear.getDate()).padStart(2, '0')}`;
      $('#startDate').val(startYearFormatted);

      // 종료일
      const endOfMonth = new Date(year, month + 1, 0);
      const endMonthFormatted = `${endOfMonth.getFullYear()}-${String(endOfMonth.getMonth() + 1).padStart(2, '0')}-${String(endOfMonth.getDate()).padStart(2, '0')}`;
      $('#endDate').val(endMonthFormatted);

      init();
    });

    let theGrid;

    function init() {
      fetchListData();
    }

    function fetchListData() {
      let data = [ ];
      const params = {
        startDate: $('#startDate').val(),
        endDate: $('#endDate').val(),
        searchUserNm: $('#searchUserNm').val()
      };

      // 서버에서 데이터 가져오기
      $.ajax({
        url: '/api/MUserInfo/read',
        type: 'GET',
        data: params,
        async: false,
        success: function (response) {
          // 응답이 올바르게 도착했고, data 속성이 배열인지 확인
          if (response && Array.isArray(response.data)) {
            data = response.data.map((item, index) => ({
              rownum: index + 1,
              USERID: item.USERID ||'',
              userNm: item.userNm ||'',
              inDateTm:item.inDateTm || '',
              sexYN: item.sexYN ||'',
              indatem:item.indatem || '',
              userAddr: item.userAddr ||'',
              userHP: item.userHP || '',
              userEmail: item.userEmail || '',
              InquiryCount: item.InquiryCount ||'',
              remark:item.remark || '',
            }));
          }
        },
        error: function () {
          console.error("데이터를 가져오는 중 오류가 발생했습니다.");
        }
      });

      while (data.length < 15) {
        data.push({
          rownum: data.length + 1,
          USERID:'',
          userNm: '',
          indatem: '',
          sexYN: '',
          userAddr: '',
          userHP: '',
          userEmail: '',
          InquiryCount: '',
          remark: '',
        });
      }

      const viewdata = new wijmo.collections.CollectionView(data);

      if (!theGrid) {
        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          columns: [
            { binding: 'rownum', header: '순번', width: 70, align: 'center' },
            { binding: 'USERID', header:'유저아이디', visible: false},
            { binding: 'userNm', header: '사용자명', width: 110, minWidth: 100, align: 'center' },
            { binding: 'indatem', header: '등록일자', width: 150, minWidth: 100, align: 'center'},
            { binding: 'sexYN', header: '성별', width:70, minWidth: 70, align: 'center' },
            { binding: 'userAddr', header: '주소', width: '*', minWidth: 230, align: 'left' },
            { binding: 'userHP', header: '연락처', width: 150, minWidth: 110, align: 'center' },
            { binding: 'userEmail', header: '이메일', width: 160, minWidth: 100, align: 'center' },
            { binding: 'InquiryCount', header: '조회건수', width: 80, align: 'center', minWidth: 100},
            { binding: 'remark', header: '비고', width: 100, align: 'center', minWidth: 150 }
          ],
          itemsSource: viewdata
        });

        theGrid.rowHeaders.columns.splice(0, 1);
      } else {
        theGrid.itemsSource = viewdata;
      }
    }

  </script>
</th:block>
</html>