<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<head>
  <style>
    .wj-header {
      text-align: center;
    }

    /* 셀 왼쪽 정렬 */
    .wj-cell {
      text-align: left;
    }
    .button-wrap {
      text-align: right; /* 오른쪽 정렬 */
    }

    .button-list {
      display: inline-block; /* 가로로 나열 */
      list-style: none; /* 기본 리스트 스타일 제거 */
      margin: 0; /* 여백 초기화 */
      padding: 0; /* 여백 초기화 */
    }

    .button-list li {
      display: inline; /* 인라인 요소로 설정 */
      margin-left: 10px; /* 버튼 간 간격 */
    }

    table td {
      border-bottom: 1px solid #EBEBEB;
      height: 48px;
      padding: 5px 10px;
    }
    .wp100 {
      width: 100% !important;
      box-sizing: border-box; /* padding 포함 */
    }
  </style>
</head>

<th:block layout:fragment="content">
  <!--- (레이아웃) Contents 영역 -->
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>등급관리 등록</h2>
        <!--                <a title="북마크" class="bookmark toggle">-->
        <!--                    내메뉴-->
        <!--                </a>-->
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>등급관리</li>
      </ul>
    </div>
    <div class="tab-wrap">
      <!--            <ul class="tab-links">-->
      <!--                <li>-->
      <!--                    <a href="#tab1" title="목록">목록</a>-->
      <!--                </li>-->
      <!--                 <li>-->
      <!--                  <a href="#tab2" title="등록">등록</a>-->
      <!--                </li>-->
      <!--            </ul>-->
      <div class="tab-contents">
        <!-- Section -->
        <section class="tab-item" id="tab1">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label for="txtCode">
                    검색<span class="eq">*</span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input type="text" id="txtCode" name="txtCode" class="input-srch">
                    <a class="btn-srch" id="btnSearch" title="검색"></a>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="button-wrap" style="border-top:none; text-align: right; !important;">
              <ul>
                <li>
                  <a class="btn btn-excell" title="신규등록" id="Newbtn" onclick="clearForm()">
                    <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                    신규등록
                  </a>
                </li>
                <li>
                  <a class="btn btn-edit" id="btnSave" title="저장">
                    <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                    저장
                  </a>
                </li>
                <li>
                  <a class="btn btn-delete" title="삭제" id="btnDelete">
                    <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                    삭제
                  </a>
                </li>
              </ul>
            </div>
          </div> <!--//section-top end -->
          <div class="row">
            <div class="wp50 mg-r20">
              <div class="container-fluid col">
                <p id="selectedItem"></p>
                <div id="theGrid" style="max-height: 740px;"></div>
              </div>
            </div>
            <div class="col wp50">
              <div class="section">
                <form id="codeForm">
                  <!-- Hidden Fields -->
                  <input type="hidden" id="parent_id" name="parent_id" value="" />
                  <input class="form-control2" type="text" id="id" name="id" hidden />

                  <!-- Table Wrap -->
                  <div class="table-wrap">
                    <table class="view-table" id="selectedData" style="max-height: 800px;">
                      <caption>급등관리 상세 테이블</caption>
                      <colgroup>
                        <col class="wp20">
                        <col class="wauto">
                      </colgroup>
                      <tbody>
                      <tr>
                        <th><label for="grid">등급</label></th>
                        <td colspan="3">
                          <select id="grid" name="grid" class="wp100"  style="width: 670px; !important" >
                            <option ></option>
                           <!-- <option value="S">S</option>
                            <option value="A">A</option>
                            <option value="B">C</option>
                            <option value="C">D</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>-->
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th><label for="grscore1">점수</label></th>
                        <td>
                          <select id="grscore1" name="grscore1" class="wp100"  style="width: 325px  !important">
                            <option value="">선택하세요</option>
                            <option value="100">100</option>
                            <option value="89">89</option>
                            <option value="79">79</option>
                            <option value="69">69</option>
                            <option value="59">59</option>
                            <option value="49">49</option>
                            <option value="39">39</option>
                          </select>
                        </td>
                        <td  colspan="2">
                          <select id="grscore2" name="grscore2" class="wp100" style="width: 330px !important">
                            <option value="">선택하세요</option>
                            <option value="90">90</option>
                            <option value="80">80</option>
                            <option value="70">70</option>
                            <option value="60">60</option>
                            <option value="50">50</option>
                            <option value="40">40</option>
                            <option value="29(0)">29(0)</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th><label for="grflag">명칭</label></th>
                        <td colspan="3">
                          <select id="grflag" name="grflag" class="wp100" style="width: 670px; !important" >
                            <option value="">선택하세요</option>
                            <option value="1">안심</option>
                            <option value="2">관심</option>
                            <option value="3">주의</option>
                            <option value="4">경계</option>
                            <option value="5">불안</option>
                            <option value="6">심각</option>
                            <option value="7">위험</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th><label for="grcolor">표시색상</label></th>
                        <td>
                          <select id="grcolor" name="grcolor" class="wp100">
                            <option value="">선택하세요</option>
                            <option value="white">흰색</option>
                            <option value="green">초록색</option>
                            <option value="skyblue">하늘색</option>
                            <option value="yellow">노랑색</option>
                            <option value="orange">주황색</option>
                            <option value="red">빨강색</option>
                            <option value="black">검정색</option>
                          </select>
                        </td>
                        <th><label for="grface">표정</label></th>
                        <td>
                          <select id="grface" name="grface" class="wp100">
                            <option></option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th><label for="grmood">날씨</label></th>
                        <td>
                          <select id="grmood" name="grmood" class="wp100">
                            <option></option>
                          </select>
                        </td>
                        <th><label for="gricon">아이콘</label></th>
                        <td>
                          <select id="gricon" name="gricon" class="wp100">
                            <option></option>
                          </select>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- Section -->
      </div>
    </div>
  </div> <!--//layout-contents end -->

  <footer style="margin-top: 12px;">
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>

</th:block>

<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

  <script type="text/javascript">

    document.readyState === 'complete' ? init() : window.onload = init;

    document.addEventListener('DOMContentLoaded', function () {
      init();
    });

    let theGrid;
    function init() {
      fetchListData();
    }

    function fetchListData() {
      let data2 = [
        { rownum:'1', grid: 'S', grscore: "100~90", grflag: "안심", grmood: '맑음', gricon: "방패,금고" },
        { rownum:'2', grid: 'D', grscore: "59~50", grflag: "불안", grmood: '폭우', gricon: "안절부절" },
        { rownum:'3', grid: 'C', grscore: "69~60", grflag: "경계", grmood: '비', gricon: "큰 눈" },
        { rownum:'4', grid: 'A', grscore: "89~80", grflag: "관심", grmood: '약간 흐림', gricon: "돋보기" }
      ];
      // 서버에서 데이터 가져오기
      /*$.ajax({
        url: '/api/ProgressStatus/read',
        type: 'GET',
        data: queryParams,
        async: false,
        success: function (response) {
          // 응답이 올바르게 도착했고, data 속성이 배열인지 확인
          if (response && Array.isArray(response.data)) {
            data2 = response.data.map((item, index) => ({
              rownum: index + 1
            }));
          }
        },
        error: function () {
          console.error("데이터를 가져오는 중 오류가 발생했습니다.");
        }
      });*/

      while (data2.length < 10) {
        data2.push({
          rownum: data2.length + 1,
          grid: '',
          grscore: '',
          grflag: '',
          grmood: '',
          gricon: '',
        });
      }

      const viewdata = new wijmo.collections.CollectionView(data2);

      if (!theGrid) {
        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          columns: [
            { binding: 'rownum', header: 'NO', align: 'center', width: 70 },
            { binding: 'grid', header: '등급', align: 'center', width: 100 },
            { binding: 'grscore', header: '점수', align: 'center', width: 150 },
            { binding: 'grflag', header: '명칭', align: 'center', width: 150 },
            { binding: 'grmood', header: '날씨', align: 'center', width: 150 },
            { binding: 'gricon', header: '아이콘', align: 'center', width: '*' }
          ],
          itemsSource: viewdata
        });

        theGrid.rowHeaders.columns.splice(0, 1);
      } else {
        theGrid.itemsSource = viewdata;
      }
    }

    //초기화
    function clearForm() {
      const form = document.getElementById('codeForm');

      Array.from(form.elements).forEach(element => {
        // 비활성화된 요소는 건너뛰기
        if (element.disabled) {
          return;
        }
        switch (element.type) {
          case 'text':
          case 'hidden':
            element.value = '';
            break;
          case 'checkbox':
            element.checked = false;
            break;
          case 'select-one':
            element.selectedIndex = 0;
            break;
          case 'select-multiple': // 다중 선택 초기화
            Array.from(element.options).forEach(option => {
              option.selected = false;
            });
            break;
          default:
            break;
        }
      });
    }

    //공통 코드
    const selectConfigs = [
      { parentCode: 'Rating', elementId: 'grid' },
      { parentCode: 'icon', elementId: 'gricon' },
      { parentCode: 'weather', elementId: 'grmood' },
      { parentCode: 'flag', elementId: 'grflag' },
      { parentCode: 'face', elementId: 'grface' }
    ];
    selectConfigs.forEach(config => {
      initializeSelect2({
        url: '/api/category/type',
        params: { parentCode: config.parentCode },
        elementId: config.elementId,
        valueField: "id",
        textField: "value"
      });
    });

  </script>
</th:block>
</html>