<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<head>
  <style>
    .wj-header {
      text-align: center;
    }

    /* 셀 왼쪽 정렬 */
    .wj-cell {
      text-align: left;
    }
  </style>
</head>

<th:block layout:fragment="content">

  <!--- (레이아웃) Contents 영역 -->
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>공지사항</h2>
        <!--                <a title="북마크" class="bookmark toggle">-->
        <!--                    내메뉴-->
        <!--                </a>-->
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>고객관리</li>
        <li>공지사항</li>
      </ul>
    </div>


    <!-- Select -->
    <div class="search-wrap">
      <!--            <ul>-->
      <!--                <li>-->
      <!--                    <select title="지역" id="spworkcd" name="spworkcd" onchange="updateSelect('spworkcd', 'spworknm')">-->
      <!--                        <option value="001">대구</option>-->
      <!--                        <input type="hidden" id="spworknm" name="spworknm">-->
      <!--                    </select>-->
      <!--                </li>-->
      <!--                <li>-->
      <!--                    <select title="구" id="spcompcd" name="spcompcd" onchange="updateSelect('spcompcd', 'spcompnm')">-->
      <!--                        <option value="001">성서산단</option>-->
      <!--                        <input type="hidden" id="spcompnm" name="spcompnm">-->
      <!--                    </select>-->
      <!--                </li>-->
      <!--                <li>-->
      <!--                    <select title="시설" id="spplancd" name="spplancd" onchange="updateSelect('spplancd', 'spplannm')">-->
      <!--                        <option value="001">대구물류센터</option>-->
      <!--                        <input type="hidden" id="spplannm" name="spplannm">-->
      <!--                    </select>-->
      <!--                </li>-->
      <!--            </ul>-->
    </div>

    <div class="tab-wrap">
      <!--            <ul class="tab-links">-->
      <!--                <li>-->
      <!--                    <a href="#tab1" title="목록">목록</a>-->
      <!--                </li>-->
      <!--                 <li>-->
      <!--                  <a href="#tab2" title="등록">등록</a>-->
      <!--                </li>-->
      <!--            </ul>-->
      <div class="tab-contents">
        <!-- Section -->
        <section class="tab-item" id="tab1">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  <label for="txtCode">
                    제목<span class="eq">*</span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input type="text" id="txtCode" name="txtCode" class="input-srch">
                    <a class="btn-srch" id="btnSearch" title="검색"></a>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="button-wrap" style="border-top:none;">
              <ul>
                <li>
                  <a class="btn btn-file2" title="파일 첨부" data-popup="popup1"
                     onclick="showPopup(this)">
                    파일 첨부<span>(0)</span>
                  </a>
                </li>
                <li>
                  <a class="btn btn-excell" title="신규등록" onclick="resetFormFields()">
                    <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                    신규등록
                  </a>
                </li>
                <li>
                  <a class="btn btn-delete" title="삭제" id="btnDelete">
                    <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                    삭제
                  </a>
                </li>
                <li>
                  <a class="btn btn-edit" id="btnSave" title="저장">
                    <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                    저장
                  </a>
                </li>
                <!--                                <li>-->
                <!--                                    <a class="btn btn-edit" title="수정" id="btnEdit">-->
                <!--                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">-->
                <!--                                        수정-->
                <!--                                    </a>-->
                <!--                                </li>-->
              </ul>
            </div>
          </div> <!--//section-top end -->
          <div class="row">
            <div class="wp45 mg-r20">
              <div class="container-fluid col">
                <p id="selectedItem"></p>
                <div id="theGrid" style="max-height: 740px;"></div>
              </div>
            </div>
            <div class="col wp55">
              <div class="section">
                <form id="codeForm">
                  <input type="hidden" id="parent_id" name="parent_id" value=""/>
                  <input class="form-control2" type="text" id="id" name="id" hidden />
                  <div class="table-wrap">
                    <table class="view-table" id="selectedData">
                      <caption>공지사항 등록 테이블</caption>
                      <colgroup>
                        <col class="wp20">
                        <col class="wauto">
                      </colgroup>
                      <tbody>
                      <tr>
                        <th><label for="create_date"></label>등록일자</th>
                        <td colspan="3">
                          <input type="text" id="create_date" name="create_date" class="wp100" readonly  >
                        </td>
                      </tr>
                      <tr>
                        <th><label for="">제목</label></th>
                        <td colspan="3">
                          <input type="text" id="" name="" class="wp100" required>
                          <div style="text-align:left; ">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th><label for="">등록일자</label></th>
                        <td>
                          <input type="date" id="" name="name" class="wp100">
                        </td>
                        <th style="width: 80px"><label for="">게시기간</label></th>
                        <td>
                          <input type="date" id="" name="name" class="wp40">&ensp;-&ensp;<input type="date" id="" name="name" class="wp40">
                        </td>
                      </tr>
                      <tr>
                        <th><label for="">연락처</label></th>
                        <td colspan="3">
                          <input type="text" id="" name="" class="wp100">
                        </td>
                      </tr>
                      <tr>
                        <th><label for="">내용</label></th>
                        <td colspan="3">
                          <textarea id="remark" name="" class="wp100"></textarea>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- Section -->
      </div>
    </div>
  </div> <!--//layout-contents end -->

  <footer style="margin-top: 12px;">
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>

  <div class="modal">
    <div class="popup-wrapper w700" id="popup1">
      <div class="popup-title">
        <h3>파일 업로드</h3>
        <a title="팝업닫기" onclick="closePopup('popup1')" class="btn-popup-close">
          <img src="/images/icon/btn-popup-close.svg" alt="닫기">
        </a>
      </div>
      <div class="popup-contents">
        <div class="table-wrap">
          <table class="write-table">
            <caption>공지사항 첨부파일</caption>
            <colgroup>
              <col class="wp20">
              <col class="wp80">
            </colgroup>
            <tbody>
            <tr>
              <th>
                첨부파일
              </th>
              <td>
                <div id="uploadComponent2" class="upload-component2">
                  <div class="upload-filebox2">
                    <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                    <a class="btn" title="파일업로드">파일 업로드</a>
                    <input type="file" id="fileInput2" class="fileInput2" multiple>
                    <p>Maximun upload file size <span>1GiB</span></p>
                  </div>

                  <div class="upload-filelist2">
                    <div class="title">
                      <h5>Files (0)</h5>
                      <a title="Delete all" class="btn-file-deleteall2">Delete all</a>
                    </div>
                    <ul class="filelist2" id="filelist2">
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="popup-button">
          <button type="button" onclick="closePopup('popup1')" class="btn-navy">확인</button>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
  <script>
    tinymce.init({
      language: "ko_KR",
      selector: "#remark",
      plugins: "paste image imagetools",
      height: 500,
      width: 800,
      toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | image",
      paste_data_images: false,
      file_picker_types: 'image',
      automatic_uploads: false, // 자동 업로드 비활성화

      // 파일 선택기 콜백
      file_picker_callback: function (callback, value, meta) {
        if (meta.filetype === 'image') {
          const input = document.createElement('input');
          input.setAttribute('type', 'file');
          input.setAttribute('accept', 'image/*');

          input.onchange = function () {
            const file = input.files[0];
            if (file) {
              const formData = new FormData();
              formData.append('file', file);

              // 업로드 요청
              fetch('/api/request/request/uploadEditor', {
                method: 'POST',
                body: formData,
                headers: {
                  'X-CSRF-Token': csrfToken // CSRF 토큰 추가
                }
              })
                      .then(response => response.json())
                      .then(data => {
                        if (data.location) {
                          // 업로드된 URL을 에디터에 삽입
                          callback(data.location, { alt: file.name });
                        }
                      })
                      .catch(error => {
                        console.error('Image upload failed:', error);
                        alert('이미지 업로드에 실패했습니다.');
                      });
            }
          };

          input.click(); // 파일 탐색기 열기
        }
      }
    });
  </script>
  <script type="text/javascript">

    var theGrid;
    var viewdata;

    document.readyState === 'complete' ? init() : window.onload = init;

    function init() {
      fetchListData();
    }
    // 공지사항 그리드
    function fetchListData() {
      let data2 = [{},{},{},{},{}];


      // $.ajax({
      //     url: '/api/request/request/read',
      //     type: 'GET',
      //     data: {
      //         'reqnum': $('#reqnum').val()
      //     },
      //     async: false,
      //     success: function (data) {
      //         data2 = data.data;
      //         data2.forEach(item =>{
      //             item.hgrb = getHgrb((item.hgrb));
      //             item.exfmtypedv = getListCgrb2(item.exfmtypedv);
      //             item.infmtypedv = getListCgrb2(item.infmtypedv);
      //             item.stframedv = getListCgrb2(item.stframedv);
      //             item.stexplydv = getListCgrb2(item.stexplydv);
      //             item.originOrdtext = item.ordtext;
      //         })
      //     }
      // })

      viewdata = new wijmo.collections.CollectionView(data2);

      if (!theGrid) {

        // 데이터 그리드에 바인딩
        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          selectionMode: wijmo.grid.SelectionMode.Row,
          columns: [
            {binding: 'no', header: '등록일자', width: 120, minWidth: 120, align: 'center'},
            {binding: 'createdDate', header: '등록자', width: 120, align: 'right'},
            {binding: 'usernm', header: '제목', width: '*', align: 'right'},
            {binding: 'phone', header: '연락처', width: '*', minWidth: 100, align: 'center'}
          ],
          itemsSource: viewdata,
        });
        // 헤더를 중앙 정렬하는 이벤트 핸들러
        theGrid.formatItem.addHandler(function (s, e) {
          if (e.panel === s.columnHeaders) {
            e.cell.style.textAlign = 'center';
          }
        });
        theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
        new FlexGridContextMenu(theGrid);
        window.downloadFileName = '주문등록';
      } else {
        // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
        theGrid.itemsSource = viewdata;
      }
    }

  </script>

</th:block>
</html>

