<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">

<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">

<head>
    <style>
        .wj-header {
            text-align: center;
        }

        /* 셀 왼쪽 정렬 */
        .wj-cell {
            text-align: left;
        }
    </style>
</head>

<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>FAQ</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>고객관리</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="row row-2">
            <section class="wp50" style="height: 690px">
                <div class="wp100">
                    <div class="container-fluid col">
                        <p id="selectedItem"></p>
                        <div id="FAQarea" style="max-height: 740px;">

                        </div>
                    </div>
                </div>
            </section>
            <!-- Section -->
            <section class="wp50" id="tab1">
                <div class="section-top">
                    <div class="search-wrap">
                    </div>
                    <div class="button-wrap" style="border-top:none;">
                        <ul>
                            <li>
                                <a class="btn btn-excell" title="신규등록" onclick="resetFormFields()">
                                    <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                                    신규등록
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-delete" title="삭제" id="btnDelete" onclick="deleteAnswer($('#answerNo').val())">
                                    <img src="/images/icon/ico-delete.svg" alt="엑셀 아이콘">
                                    삭제
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-edit" id="btnSave" title="저장" onclick="saveAnswer()">
                                    <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                                    저장
                                </a>
                            </li>
                            <!--                                <li>-->
                            <!--                                    <a class="btn btn-edit" title="수정" id="btnEdit">-->
                            <!--                                        <img src="/images/icon/ico-edit.svg" alt="엑셀 아이콘">-->
                            <!--                                        수정-->
                            <!--                                    </a>-->
                            <!--                                </li>-->
                        </ul>
                    </div>
                </div> <!--//section-top end -->
                <div class="row">
                    <div class="col wp100">
                        <div class="section">
                            <form id="codeForm">
                                <input type="hidden" id="faqseq" name="faqseq" value=""/>
                                <input class="form-control2" type="text" id="id" name="id" hidden />
                                <div class="table-wrap">
                                    <table class="view-table" id="selectedData">
                                        <caption>FAQ 등록 테이블</caption>
                                        <input type="hidden" id="answerNo">
                                        <colgroup>
                                            <col class="wp20">
                                            <col class="wauto">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th><label for="question">Question</label></th>
                                            <td colspan="3">
                                                <input type="text" id="question" name="" class="wp100">
                                                <div style="text-align:left; ">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="answer">Answer</label></th>
                                            <td>
                                                <input type="text" id="answer" name="name" class="wp100" placeholder="25자 미만으로 작성해주십시오">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="faqNo">순서</label></th>
                                            <td>
                                                <input type="text" id="faqNo" name="name" class="wp100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="faqflag">문의구분</label></th>
                                            <td>
                                                <select id="faqflag" name="faqflag" class="wp100">
                                                    <option value="" selected disabled hidden>선택</option>
                                                    <option value="01"></option>
                                                    <option value="02"></option>
                                                </select>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="remark">비고</label></th>
                                            <td colspan="3">
                                                <input type="text" id="remark" name="" class="wp100">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
                <!-- Section -->
        </div>
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 12px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>
</th:block>

<th:block layout:fragment="scripts">
    <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>

    <script type="text/javascript">

        var theGrid;
        var viewdata;

        document.readyState === 'complete' ? init() : window.onload = init;
        // 오늘 날짜 설정
        const date = new Date();
        date.setHours(date.getHours() + 9); // UTC+9로 한국 시간 설정
        const today = date.toISOString().split('T')[0];

        function init() {
            faqHtml();
        }
        $(document).ready(function (e) {

            // FAQ 공통코드 리스트(문의구분 select 바인드)
            const parentId01 = 374;
            const selectElementId01 = 'faqflag';
            fetchCommonCodes(parentId01, selectElementId01);
        });

        // FAQ html
        function faqHtml() {
            $.ajax({
                url: '/api/FAQ/getFAQList',
                type: 'GET',
                data: {},
                success: function (data) {
                    console.log(data.data); // 데이터를 확인
                    const data2 = data.data || []; // 데이터가 없으면 빈 배열로 처리
                    const listCardWrap = document.getElementById('FAQarea');
                    listCardWrap.innerHTML = ''; // 기존 내용을 초기화

                    data2.forEach(item => {
                        // 문의사항 렌더링
                        const questionDiv = document.createElement('div');
                        questionDiv.style.backgroundColor = '#D0E1EB';
                        questionDiv.style.padding = '5px';
                        questionDiv.style.marginRight = '20px';
                        questionDiv.innerHTML = `&ensp;${item.no}.&ensp;${item.FAQTEXT || '문의 내용 없음'}`;

                        // 클릭 이벤트 추가
                        questionDiv.addEventListener('click', () => {
                            selectFAQ(item);
                        });

                        // 문의사항 DOM에 추가
                        listCardWrap.appendChild(questionDiv);

                        // 답변이 있을 경우 렌더링
                        if (item.answer) {
                            const answerDiv = document.createElement('div');
                            answerDiv.style.backgroundColor = '#CEFBBE';
                            answerDiv.style.marginLeft = '20px';
                            answerDiv.style.padding = '5px';
                            answerDiv.style.marginTop = '3px';
                            answerDiv.style.marginBottom = '3px';
                            answerDiv.innerHTML = `&ensp;▷&ensp;${item.answer}`;
                            listCardWrap.appendChild(answerDiv);
                        }
                    });
                },
                error: function () {
                    Alert.alert('', '문의내역을 가져오는 데 실패했습니다.', function () {
                        document.querySelector('.btn-popup-close').click();
                    });
                }
            });
        }

        // FAQ문의내용 클릭 이벤트 함수
        function selectFAQ(faqInfo){
            document.getElementById('question').value = faqInfo.FAQTEXT;
            document.getElementById('answer').value = faqInfo.answer;
            document.getElementById('faqNo').value = faqInfo.no;
            document.getElementById('remark').value = faqInfo.REMARK;
            document.getElementById('answerNo').value = faqInfo.answerNo;
            document.getElementById('faqseq').value = faqInfo.FAQSEQ;
            const selectfaqflag = document.getElementById('faqflag');

            setSelectedIndex(selectfaqflag, faqInfo.FAQFLAG);
        }
        // 문의구분 바인드
        function setSelectedIndex(selectElement, selectedValue) {
            console.log("selectedValue : ", selectedValue)
            for (let i = 1; i < selectElement.options.length; i++) {
                // 트림(공백 제거), 대소문자 무시, 타입 일치시키기
                if (selectElement.options[i].value.trim().toLowerCase() === String(selectedValue).trim().toLowerCase()) {
                    selectElement.selectedIndex = i;
                    break;
                }
            }
        }
        // 신규등록 fuction
        function resetFormFields(){
            const fieldsToReset = [
                'question', 'answer', 'faqNo', 'remark','faqflag'
            ];
            fieldsToReset.forEach(fieldId => {
                document.getElementById(fieldId).value = '';
            });
        }
        // 답변등록
        function saveAnswer() {
            // 알림 메시지를 결정하는 변수
            let alertMessage;
            alertMessage = '저장하시겠습니까?';
            // 필수 입력 필드 검사
            let requiredFields = [
                // {id: '#faqseq', label: '문의글을 선택해주세요'},
                // {id: '#answer', label: '답변을 작성해주세요'}
            ];
            for (let i = 0; i < requiredFields.length; i++) {
                let field = requiredFields[i];
                let $element = $(field.id);
                let value = $element.val();

                // 요소가 존재하지 않거나, 값이 빈 문자열(선택되지 않은 경우)인 경우 경고
                if ($element.length === 0 || value === null || value.trim() === '') {
                    Alert.alert('', field.label);
                    return;
                }
            }
            Alert.confirm('', alertMessage, function () {
                let formData = new FormData();
                formData.append('FAQTEXT', $('#answer').val());
                formData.append('REMARK', $('#remark').val());
                formData.append('CHSEQ', $('#faqseq').val());
                formData.append('FAQSEQ', $('#answerNo').val());
                formData.append('INDATEM', today);
                formData.append('FLAG', '1');
                console.log("formData : ", formData);
                function sendAjaxRequest(url) {
                    $.ajax({
                        url: '/api/FAQ/save',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        headers: {
                            'X-CSRF-Token': $('[name=_csrf]').val() // CSRF 토큰을 헤더에 추가
                        },
                        success: handleAjaxResponse,
                        error: function () {
                            Alert.alert('', '에러가발생하였습니다.');
                        }
                    });
                }

                function handleAjaxResponse(response) {
                    if (response.success) {
                        Alert.alert('', response.message, function () {
                            faqHtml();
                            resetFormFields();
                        });
                    } else {
                        Alert.alert('', '저장에 실패했습니다.');
                    }
                }
                sendAjaxRequest('/api/FAQ/save');
            })
        }
        // 답변 삭제
        function deleteAnswer(faqseq) {
            let alertMessage;
            alertMessage = '삭제하시겠습니까?';
            const intFaqSeq = parseInt(faqseq, 10);
            Alert.confirm('', alertMessage, function () {
                function sendAjaxRequest(url) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify({ faqseq: intFaqSeq }),
                        processData: false,
                        contentType: 'application/json; charset=UTF-8',
                        headers: {
                            'X-CSRF-Token': $('[name=_csrf]').val() // CSRF 토큰을 헤더에 추가
                        },
                        success: handleAjaxResponse,
                        error: function () {
                            Alert.alert('', '에러가발생하였습니다.');
                        }
                    });
                }

                function handleAjaxResponse(response) {
                    if (response.success) {
                        Alert.alert('', response.message, function () {
                            faqHtml();
                            resetFormFields();
                        });
                    } else {
                        Alert.alert('', '삭제에 실패했습니다.');
                    }
                }
                sendAjaxRequest('/api/FAQ/delete');
            })
        }


    </script>

</th:block>
</html>

