<!DOCTYPE html>
<html lang="ko">
<style>
    .btn-clear {
        display: none !important; /* 강제로 숨김 */
    }

    .btn-close {
        display: none !important; /* 강제로 숨김 */
    }


    .tab-item {
        display: none; /* 기본적으로 모든 탭 내용을 숨깁니다 */
    }

    .tab-item.active {
        display: block; /* 'active' 클래스가 있을 때만 해당 탭 내용을 표시 */
    }

    .tab-links {
        display: flex;
        margin-left: 1px;
        margin-bottom: -1px;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
    }

    .tab-links li {
        position: relative;
        flex-grow: 1;
        flex-shrink: 0;
    }

    .tab-links li:first-child a {
        border-radius: 6px 0 0 0;
    }

    .tab-links li:last-child a {
        border-radius: 0 6px 0 0;
    }

    .tab-links li a {
        display: inline-flex;
        justify-content: center;
        min-width: 20%;
        width: 100%;
        padding: 1vw 2vw;
        color: #808080;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        transition: all .3s;
        overflow: hidden;
        border-bottom: 3px solid #C6C6C6;
    }

    .tab-links li:hover a {
        color: #4D4D4D;
        font-weight: 700;
        border-bottom: 3px solid #4D4D4D;
    }

    .tab-links li.active a {
        color: #03428E;
        font-weight: 700;
        border-bottom: 3px solid #03428E;
    }

    section .tab-links {
    }

    section .tab-links li a {
        padding: 8px 10px;
        margin-right: -1px;
        border: 1px solid #E4E4E4;
        background-color: #fff;
        color: #808080;
    }

    section .tab-links li:first-child a {
        border-radius: 12px 0 0 12px;
    }

    section .tab-links li:last-child a {
        border-radius: 0 12px 12px 0;
        margin-right: 0;
    }

    section .tab-links li.active a {
        background-color: #3069B3;
        color: #fff;
    }

    .tab-links-sub li {
        position: relative;
    }

    .tab-links-sub li a {
        display: inline-flex;
        border: 1px solid #E4E4E4;
        justify-content: center;
        min-width: 90px;
        padding: 8px 32px 8px 32px;
        background-color: #fff;
        color: #333333;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        transition: all .3s;
    }

    .tab-links-sub li:hover a {
        border-radius: 3px 0 0 3px;
        color: #4D4D4D;
        border: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
        border-left: 1px solid #E4E4E4;
        background-color: #f5f6fa;
    }

    .tab-links-sub li:first-child a {
        border-radius: 3px 0 0 3px;
        border-right: 0
    }

    .tab-links-sub li:first-child:hover a {
        border-radius: 3px 0 0 3px;
        color: #4D4D4D;
        border: 1px solid #b3b3b3;
        border-right: 0;
        background-color: #f5f6fa;
    }

    .tab-links-sub li:last-child a {
        border-radius: 0 3px 3px 0;
        border-left: 0
    }

    .tab-links-sub li:last-child:hover a {
        color: #4D4D4D;
        border: 1px solid #b3b3b3;
        border-left: 0;
        background-color: #f5f6fa;
        border-radius: 0 3px 3px 0;
        border-left: 0
    }

    .tab-links-sub li.active a {
        background-color: #2EC9D6;
        color: #fff;
        font-weight: 70
    }

</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FACT CHECK</title>
  <link rel="icon" type="image/png" href="/images/logo/icon_FACT%20CHECK.png">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Slide css -->
  <link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css">
  <link rel="stylesheet" type="text/css" href="/assets_mobile/css/import.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <script src="/assets_mobile/js/ui.js"></script> <!-- Common js -->
  <script th:inline="javascript">
    var sandanData = /*[[${session.sandanList}]]*/ [];
  </script>


  <script type="text/javascript" src="/resource/ax5ui/ax5ui.all.min.js?v=1000"></script>

  <script type="text/javascript" src="/js/ax5commUtil.js?v=1070"></script>

  <script src="/js/common.js?v=1060"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
  <script src="/js/Mobile.js"></script>
</head>

<body>
<div class="mobile-wrapper page-ticket-list"><!-- ★페이지 Class명 -->
  <!-- [모바일] 헤더  -->
  <div class="mobile-layout-header">
    <header>
      <div class="left">
        <a href="#" title="전체메뉴" class="logo">
        </a>
      </div>
      <div class="center" style="margin-left:35px;">
        <h2>등기부 API 조회</h2>
      </div>
      <div class="right">
        <a href="#" title="전체메뉴" class="btn-menu">
          <img src="/assets_mobile/images/icon/btn-menu.svg" alt="전체메뉴 아이콘">
        </a>
      </div>
    </header>
  </div> <!-- //mobile-layout-header end-->

  <!-- [모바일] 메뉴  -->
  <div th:insert="~{mobile/mobile_menu :: mobile_menu}"></div>
  <!-- [모바일] 컨덴츠  -->
  <div class="mobile-layout-contents">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
      <!-- 검색 영역  -->
      <div class="search-wrap">
        <div class="srch-tit aco-hd">
          <p>팩트체크에서 발급한 등기부를 조회할 수 있습니다.</p>
          <a href="#" title="열기/닫기" class="btn-aco">
            <img src="/assets_mobile/images/icon/ico-down.svg" alt="열기/닫기">
          </a>
        </div>
        <div class="srch-cont aco-cont">
          <dl>
            <dt>
              발급일자<span class="eq">*</span>
            </dt>
            <dd>
              <ul class="date-box">
                <li>
                  <input type="date" id="startDate" name="startDate">
                  <label for="startDate" class="hide">시작일</label>
                </li>
                <li>
                  <input type="date" id="endDate" name="endDate">
                  <label for="endDate" class="hide">종료일</label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>검색</dt>
            <dd>
              <div style="display: flex; gap: 10px">
                <div style="width: 100%">
                  <input type="text" id="SearchKeywords" placeholder="조회할 주소를 입력해주세요">
                </div>
              </div>
            </dd>
          </dl>
          <div class="srch-btn">
            <button class="btn-dark" onclick="handleSearch()">조회</button>
          </div>
        </div>
      </div>
      <!-- 컨텐츠 영역  -->
      <div class="contents-wrap">
        <div class="list-top-wrap">
          <div class="list-num">
            목록 <span class="blue">- 건</span>
          </div>
        </div>
        <div id="addressWrap" class="contents-wrap">

        </div> <!--//card-wrap end-->
      </div> <!--// contents-wrap end-->
    </div> <!--//layout-contents end -->

  </div> <!-- //mobile-layout-contents end-->
  <div class="mobile-layout-popup" id="popup-history">
    <div class="popup-overlay"></div>
    <div class="popup-wrapper">
      <div class="popup-title">
        <h3>상세내용</h3>
        <!--                <a href="#a" title="팝업닫기" class="btn-popup-close">-->
        <!--                    <img src="/assets_mobile/images/icon/btn-popup-close.svg" alt="닫기">-->
        <!--                </a>-->
      </div>
      <div class="popup-contents">
        <div class="table-wrap">
          <div class="write-wrap" style="width: 100%;  overflow: hidden; max-width: 100%;">
            <div class="row">
              <section>
                <div class="tab-wrap">
                  <ul class="tab-links" style="margin-bottom: 10px;">
                    <li><a href="#main" name="tabs_basic">표제부</a></li>
                    <li><a href="#sub1" name="tab_production">갑구</a></li>
                    <li><a href="#sub2" name="tab_production">을구</a></li>
                  </ul>

                  <section class="tab-item" id="main">
                    <table class="write-table"
                           style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                      <caption style="text-align: left; margin-bottom: 8px;">상세테이블</caption>
                      <thead>
                      <tr>
                        <th colspan="4" style="text-align: center;">표 제 부 (건물의 표시)</th>
                      </tr>

                      </thead>
                      <tbody>
                      <tr>
                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>접수</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;" colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>소재지번,건물명칭 및 번호</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;" colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>소재지번</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;" colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>지목</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;">

                        </td>

                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>면적</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;">

                        </td>
                      </tr>

                      <tr>
                        <th style="text-align: center; width: 7%; padding: 5px; border: 1px solid #ddd;">
                          <label>등기원인 및 기타사항</label>
                        </th>
                        <td style="width: 15%; padding: 5px; border: 1px solid #ddd;" colspan="3">
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </section>

                  <section class="tab-item" id="sub1">
                    <table class="write-table"
                           style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                      <caption style="text-align: left; margin-bottom: 8px;">상세테이블</caption>
                      <thead>
                      <tr>
                        <th colspan="4" style="text-align: center;">갑 구 (소유권에 관한 사항)</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr>
                        <th style="font-size: 11px;">
                          순위 번호
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="font-size: 11px;">
                          등기목적
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <th style="font-size: 11px;">
                          접수
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <th style="font-size: 11px;">
                          등기원인
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="font-size: 11px; text-align: center;" colspan="4">권리자 및 기타사항</th>

                      </tr>
                      <tr>
                        <td colspan="4">

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </section>

                  <section class="tab-item" id="sub2">
                    <table class="write-table"
                           style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                      <caption style="text-align: left; margin-bottom: 8px;">상세테이블</caption>
                      <thead>
                      <tr>
                        <th colspan="4" style="text-align: center;">을 구 (소유권 이외의 권리에 관한 사항)</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr>
                        <th style="font-size: 11px;">
                          순위 번호
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="font-size: 11px;">
                          등기목적
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <th style="font-size: 11px;">
                          접수
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <th style="font-size: 11px;">
                          등기원인
                        </th>
                        <td colspan="3">

                        </td>
                      </tr>

                      <tr>
                        <th style="font-size: 11px; text-align: center;" colspan="4">권리자 및 기타사항</th>

                      </tr>
                      <tr>
                        <td colspan="4">

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </section>

                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="popup-button">
        <button class="btn-popup-close btn-navy">확인</button>
      </div>
    </div>
  </div>
  <!--이력보기 팝업-->
  <div class="mobile-layout-popup">
    <div class="popup-wrapper" id="popup-details">
      <div class="popup-title">
        <h3>이력 내역</h3>
        <a title="팝업닫기" class="btn-popup-close">
          <img src="/assets_mobile/images/icon/btn-popup-close.svg" alt="닫기">
        </a>
      </div>
      <div class="popup-contents">
        <div class="ticket-tit">
          <dl>
            <dd></dd>
          </dl>
        </div>
        <div class="table-container">
          <div class="list-table-wrap" style="overflow-x: auto;">

          </div>
        </div>
        <div class="write-wrap">
        </div>
      </div>
      <div class="popup-button">
        <button class="btn-popup-close btn-navy">확인</button>
      </div>
    </div>
  </div>

</div> <!-- //page-wrapper end-->

<script th:inline="javascript">
  // // Thymeleaf에서 값 설정: Null 체크와 기본값 처리
  // var groupid = [[${session.groupid != null ? session.groupid : 'null'}]];
  // var id = /*[[${id != null ? id : 'null'}]]*/;
  // var groupname = /*[[${groupname != null ? groupname : 'null'}]]*/;
  // var username = /*[[${username != null ? username : 'null'}]]*/;
  //
  // // 로컬스토리지에 값 유지 (null 또는 빈 문자열은 저장하지 않음)
  // if (groupid && groupid !== 'null') localStorage.setItem('groupid', groupid);
  // if (id && id !== 'null') localStorage.setItem('id', id);
  // if (username && username !== 'null') localStorage.setItem('username', username);
  // if (groupname && groupname !== 'null') localStorage.setItem('groupname', groupname);
</script>


<script type="text/javascript">

  document.readyState === 'complete' ? init() : window.onload = init;
  // 오늘 날짜 설정
  const date = new Date();
  date.setHours(date.getHours() + 9); // UTC+9로 한국 시간 설정
  const today = date.toISOString().split('T')[0];
  const currentYear = date.getFullYear();

  // 기본값 설정 (올해 1월 1일 ~ 오늘)
  document.getElementById('startDate').value = `${currentYear}-01-01`;
  document.getElementById('endDate').value = today;

  function init() {

  }

  // 데이터를 받아와 카드 렌더링
  function fetchListData() {
    $.ajax({
      url: '/api/IssueInquiryAPI/List',
      type: 'GET',
      data: {
        'startDate': $('#startDate').val(),
        'endDate': $('#endDate').val(),
        'SearchKeywords': $('#SearchKeywords').val()
      },
      success: function (data) {
        console.log("서버 응답 데이터:", data);
        if (!data || !data.data || !Array.isArray(data.data)) {
          console.error("데이터가 올바르지 않습니다.");
          return;
        }

        // 📌 목록 건수 업데이트
        const listNumElement = document.querySelector('.list-num .blue');
        if (listNumElement) {
          listNumElement.textContent = `${data.data.length} 건`;
        }

        // 📌 주소 리스트 업데이트
        const listAddressWrap = document.getElementById('addressWrap');
        if (!listAddressWrap) {
          console.error("addressWrap 요소를 찾을 수 없습니다.");
          return;
        }

        listAddressWrap.innerHTML = ''; // 기존 내용 초기화
        const availableColors = ['card-purple'];
        let colorIndex = 0;
        let htmlContent = '';

        const selectedValue = $('#property').val();
        // ✅ 중복된 REALID 제거
        let seen = new Set();
        let uniqueData = data.data.filter(item => {
          if (seen.has(item.REALID)) {
            return false;
          } else {
            seen.add(item.REALID);
            return true;
          }
        });

        data.data.forEach(item => {
          const cardColor = availableColors[colorIndex];
          const {bgColor, textColor} = getBadgeColorByScore(item.REALSCORE); // 배경색 가져오기
          const badgeGrade = getBadgeClass(item.REALSCORE); // 등급 가져오기
          colorIndex = (colorIndex + 1) % availableColors.length;

          let buttonsHtml = `
                  <div style="display: flex; gap: 5px; align-items: center; max-width: 100%;">
                    <button class="btn btn-popup-open" data-popup="popup-history" title="상세보기" style="margin-bottom: 0px;  border-radius: 20px; transition: background-color 0.3s ease;">상세보기 </button>
                     <button class="btn btn-popup-open" data-popup="popup-details" title="이력보기" style="margin-top: 5px;margin-bottom: 5px; padding: 4px 12px; border-radius: 20px; transition: background-color 0.3s ease;  ">변경된 이력보기</button>
                  </div>
                    `;

          const formattedDate = item.RELASTDATE.substring(0, 4) + '-' + item.RELASTDATE.substring(4, 6) + '-' + item.RELASTDATE.substring(6, 8);
          const formattedLastDate = item.RLASTDATE
            ? item.RLASTDATE.substring(0, 4) + '-' + item.RLASTDATE.substring(4, 6) + '-' + item.RLASTDATE.substring(6, 8)
            : '';

          htmlContent += `
                    <div class="card-box ${cardColor}" data-realadd="${item.REALADD}" data-resido="${item.RESIDO}" data-realid="${item.REALID}"
                        data-regdate="${item.REGDATE}" data-regugun="${item.REGUGUN}" data-rejimok="${item.REJIMOK}" data-rearea="${item.REAREA}"
                        data-PDFFILENAME="${item.PDFFILENAME}" data-remaxamt="${item.REMAXAMT}" data-uniqueNo="${item.UniqueNo}" style="margin-bottom:10px;">
                        <div class="card-cont">
                         <dl class="card-address">
                                <dd>${item.REALADD}</dd>
                            </dl>
                            <dl>
                                <dt>집합건물</dt>
                                <dd>${item.REALGUBUN}</dd>
                            </dl>

                            ${
            (selectedValue === "most_viewed_property" || selectedValue === "popular_property")
              ? `<dl>
                                    <dt>최근조회날짜</dt>
                                    <dd>${formattedLastDate}</dd>
                                  </dl>`
              : `<dl>
                                    <dt>조회날짜</dt>
                                    <dd>${formattedDate}</dd>
                                  </dl>`
          }
                            <dl>
                                <dt>판정점수</dt>
                                <dd>${item.REALSCORE}</dd>
                            </dl>
                            </dl>
                             <dl>
                              <dt>등급</dt>
                              <dd>
                                  <div class="badge" style="background: ${bgColor}; color: ${textColor}; font-size: 15px;">
                                      ${badgeGrade} 등급
                                  </div>
                              </dd>
                          </dl>
                            ${
            (selectedValue === "most_viewed_property" || selectedValue === "popular_property")
              ? `<dl>
                                    <dt>조회수</dt>
                                    <dd>${item.record_count}</dd>
                                  </dl>`
              : ''
          }
                        </div>
                        ${buttonsHtml}
                    </div>
                `;
        });

        listAddressWrap.innerHTML = htmlContent;

        // 이벤트 위임을 사용하여 버튼 클릭 처리
        listAddressWrap.addEventListener('click', (event) => {
          const button = event.target.closest('.btn-popup-open[data-popup="popup-history"]');
          const delButton = event.target.closest('.btn-popup-open[data-popup="popup-details"]');

          if (button) {
            const cardBox = button.closest('.card-box');
            const realId = cardBox.getAttribute('data-realid');
            if (!cardBox) return;

            console.log("상세보기 클릭됨! REALID:", realId);

            $.ajax({
              type: "POST",
              url: "/api/IssueInquiry/SaveViewHistory",
              data: {realId: realId},
              headers: {
                'X-CSRF-Token': $('[name=_csrf]').val()
              },
              dataType: "json",
              success: function (response) {
                if (response.success) {
                } else {
                  console.error("데이터 저장 실패:", response.message);
                }
              },
              error: function (xhr, status, error) {
                console.error("AJAX 요청 실패:", xhr.responseText);
              }
            });

            //AJAX 요청을 통해 상세 데이터 불러오기
            $.ajax({
              url: `/api/IssueInquiry/DetailsList?realId=${realId}`,
              data: {
                'startDate': $('#startDate').val(),
                'endDate': $('#endDate').val(),
              },
              type: 'GET',
              success: function (data) {
                console.log("서버에서 가져온 상세 데이터:", data);

                // 팝업 제목 업데이트
                document.querySelector("#popup-history .popup-title h3").textContent = data.REALADD + " 상세내용";

                const cardBox = button.closest('.card-box');

                const realAdd = cardBox.getAttribute('data-realadd');
                const resido = cardBox.getAttribute('data-resido') || '';
                const regdate = cardBox.getAttribute('data-regdate') || '';
                const regugun = cardBox.getAttribute('data-regugun') || '';
                const rejimok = cardBox.getAttribute('data-rejimok') || '';
                const rearea = cardBox.getAttribute('data-rearea') || '';
                const uniqueNo = data.UniqueNo ? data.UniqueNo : "";
                const uniqueNoSafe = (uniqueNo === null || uniqueNo === "null") ? '' : uniqueNo;
                const remaxamt = cardBox.getAttribute('data-remaxamt') || '';
                const numericRemaxamt = !isNaN(remaxamt) && remaxamt.trim() !== '' ? Number(remaxamt) : 0;
                const formattedRemaxamt = numericRemaxamt.toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2
                });

                // 팝업 타이틀 업데이트
                const popupTitle = document.querySelector("#popup-history .popup-title h3");
                if (popupTitle) {
                  popupTitle.textContent = `${realAdd} 상세내용`;
                }
                // 날짜 포맷 변경
                const formattedRegDate = regdate
                  ? regdate.substring(0, 4) + '년' + regdate.substring(4, 6) + '월' + regdate.substring(6, 8) + '일'
                  : '';

                // 표제부
                const tds = document.querySelectorAll("#popup-history td[colspan='3']");
                if (tds.length >= 4) {  // 최소 4개 이상 있어야 함
                  tds[0].textContent = formattedRegDate && formattedRegDate !== "null" ? formattedRegDate : "-";
                  tds[1].textContent = realAdd && realAdd !== "null" ? realAdd + " " + (uniqueNoSafe && uniqueNoSafe !== "null" ? uniqueNoSafe : "-") : "-";
                  tds[2].textContent = resido && resido !== "null" ? resido + " " + (regugun && regugun !== "null" ? regugun : "-") : "-";
                  tds[3].textContent = formattedRemaxamt && formattedRemaxamt !== "null" ? formattedRemaxamt : "-";
                } else {
                  console.warn("해당 요소를 찾을 수 없거나 개수가 부족합니다.");
                }

                const rows = document.querySelector("#popup-history table tbody").getElementsByTagName("tr");
                if (rows.length >= 4) {  // 4번째 행이 있는지 확인
                  const tds = rows[3].getElementsByTagName("td");
                  if (tds.length >= 2) {  // 최소 2개의 td가 있어야 함
                    tds[0].textContent = rejimok && rejimok !== "null" ? rejimok : "-";
                    tds[1].textContent = rearea && rearea !== "null" ? rearea : "-";
                  } else {
                    console.warn("4번째 행의 td 개수가 부족합니다.");
                  }
                } else {
                  console.warn("4번째 행이 존재하지 않습니다.");
                }

                // 테이블 요소 가져오기
                const sub1Table = document.querySelector("#sub1 table tbody");
                const sub2TableBody = document.querySelector("#sub2 table tbody");

                if (!sub1Table || !sub2TableBody) {
                  console.error("오류: sub1Table 또는 sub2TableBody을 찾을 수 없습니다.");
                  return;
                }
                // 데이터를 배열로 받아서 중복 제거 후 사용
                let details = Array.isArray(data.data) && data.data.length > 0 ? data.data : [];

                if (details.length === 0) {
                  console.warn("⚠️ A등기 데이터 없음");
                } else {
                  let tableBody = document.querySelector("#sub1 table tbody");
                  tableBody.innerHTML = ""; // 기존 데이터 초기화

                  // 중복된 A등기 데이터 제거 (RgsAimCont_A 기준)
                  let seenA = new Set();
                  let uniqueDataA = details.filter(entry => {
                    if (seenA.has(entry.RgsAimCont_A)) {
                      return false; // 중복된 경우 제거
                    } else {
                      seenA.add(entry.RgsAimCont_A);
                      return true;
                    }
                  });

                  // 최소 개수 보장 (1개 이상 출력)
                  if (uniqueDataA.length === 0) {
                    console.warn("⚠️ A등기 데이터가 너무 적습니다. 기본값을 표시합니다.");
                    uniqueDataA.push({
                      RankNo_A: "-",
                      RgsAimCont_A: "-",
                      Receve_A: "-",
                      RgsCaus_A: "-",
                      NomprsAndEtc_A: "-"
                    });
                  }

                  // 중복 제거된 데이터 테이블에 추가
                  uniqueDataA.forEach(entry => {
                    const safeValue = (value) => value && value !== "null" ? value : "-";

                    let rowRank = document.createElement("tr"); // ✅ 순위 번호 행 추가
                    rowRank.innerHTML = `
    <th style="font-size: 11px;">순위 번호</th>
    <td colspan="3">${safeValue(entry.RankNo_A)}</td>
  `;
                    tableBody.appendChild(rowRank);

                    let row1 = document.createElement("tr");
                    row1.innerHTML = `
    <th style="font-size: 11px;">등기목적</th>
    <td colspan="3">${safeValue(entry.RgsAimCont_A)}</td>
  `;
                    tableBody.appendChild(row1);

                    let row2 = document.createElement("tr");
                    row2.innerHTML = `
    <th style="font-size: 11px;">접수</th>
    <td colspan="3">${safeValue(entry.Receve_A)}</td>
  `;
                    tableBody.appendChild(row2);

                    let row3 = document.createElement("tr");
                    row3.innerHTML = `
    <th style="font-size: 11px;">등기원인</th>
    <td colspan="3">${safeValue(entry.RgsCaus_A)}</td>
  `;
                    tableBody.appendChild(row3);

                    let row4 = document.createElement("tr");
                    row4.innerHTML = `
    <th style="font-size: 11px; text-align: center;" colspan="4">권리자 및 기타사항</th>
  `;
                    tableBody.appendChild(row4);

                    let row5 = document.createElement("tr");
                    row5.innerHTML = `
    <td colspan="4">${safeValue(entry.NomprsAndEtc_A)}</td>
  `;
                    tableBody.appendChild(row5);
                  });
                }


                // ✅ 데이터를 중복 없이 저장
                let seenB = new Set();
                let uniqueDataB = details.filter(entry => {
                  if (seenB.has(entry.RgsAimCont_B)) {
                    return false; // 중복된 경우 건너뜀
                  } else {
                    seenB.add(entry.RgsAimCont_B);
                    return true;
                  }
                });

                // ✅ 을구(B등기) 테이블 초기화
                let tableBodyB = document.querySelector("#sub2 table tbody");
                tableBodyB.innerHTML = "";

                //중복 제거된 데이터만 테이블에 추가
                uniqueDataB.forEach(entry => {
                  const safeValue = (value) => value && value !== "null" ? value : "-";

                  let rowRank = document.createElement("tr"); // ✅ 순위 번호 행 추가
                  rowRank.innerHTML = `
    <th style="font-size: 11px;">순위 번호</th>
    <td colspan="3">${safeValue(entry.RankNo_B)}</td>
  `;
                  tableBodyB.appendChild(rowRank);

                  let row1 = document.createElement("tr");
                  row1.innerHTML = `
    <th style="font-size: 11px;">등기목적</th>
    <td colspan="3">${safeValue(entry.RgsAimCont_B)}</td>
  `;
                  tableBodyB.appendChild(row1);

                  let row2 = document.createElement("tr");
                  row2.innerHTML = `
    <th style="font-size: 11px;">접수</th>
    <td colspan="3">${safeValue(entry.Receve_B)}</td>
  `;
                  tableBodyB.appendChild(row2);

                  let row3 = document.createElement("tr");
                  row3.innerHTML = `
    <th style="font-size: 11px;">등기원인</th>
    <td colspan="3">${safeValue(entry.RgsCaus_B)}</td>
  `;
                  tableBodyB.appendChild(row3);

                  let row4 = document.createElement("tr");
                  row4.innerHTML = `
    <th style="font-size: 11px; text-align: center;" colspan="4">권리자 및 기타사항</th>
  `;
                  tableBodyB.appendChild(row4);

                  let row5 = document.createElement("tr");
                  row5.innerHTML = `
    <td colspan="4">${safeValue(entry.NomprsAndEtc_B)}</td>
  `;
                  tableBodyB.appendChild(row5);
                });

                // 팝업 열기
                document.getElementById("popup-history").classList.add("open");
              },
              error: function (xhr, status, error) {
                console.error("상세 데이터 불러오기 실패:", error);
              }
            });
          }
          if (delButton) {
            const cardBox = delButton.closest('.card-box');
            if (!cardBox) return;

            const realid = cardBox.getAttribute("data-realid");
            const address = cardBox.getAttribute('data-realadd') || "주소 정보 없음";

            if (!realid) {
              console.warn("REALID 없음!");
              return;
            }

            console.log("이력보기 버튼 클릭됨! REALID, address:", realid, address);

            handleClick(realid, address);
          }
        });
      },
      error: function (xhr, status, error) {
        console.error("AJAX 요청 실패:", status, error);
        console.error("응답 내용:", xhr.responseText);
      }
    });
  }

  function openModal(popupId) {
    let popup = document.getElementById(popupId);
    let overlay = document.querySelector('.popup-overlay');

    if (popup && overlay) {
      popup.classList.add('active'); // 팝업 활성화
      overlay.style.display = 'block'; // 오버레이 보이기
    } else {
      console.error('popup2 또는 popup-overlay 요소를 찾을 수 없습니다.');
    }
  }

  function ModalClose(popupId) {
    let popup = document.getElementById(popupId);
    let overlay = document.querySelector('.popup-overlay');

    if (popup && overlay) {
      popup.classList.remove('active'); // 팝업 비활성화
      overlay.style.display = 'none'; // 오버레이 숨기기
    }
  }

  function handleSearch() {
    fetchListData();
    closeSearch();
  }

  // 조회버튼 클릭시 검색창 close
  function closeSearch() {
    document.querySelector('.btn-aco').click();
  }
  function getBadgeColorByScore(score) {
    if (score === "미확인") return {bgColor: "#DADADA", textColor: "black"}; // 점수 없음 (회색)
    let numericScore = parseFloat(score);

    if (numericScore >= 90) return {bgColor: "#F4F4F4", textColor: "black"}; // S 등급 (안심) → 연한 회색 (검은 글씨)
    if (numericScore >= 80) return {bgColor: "#4CAF50", textColor: "white"}; // A 등급 (관심) → 녹색
    if (numericScore >= 70) return {bgColor: "#3069B3", textColor: "white"}; // B 등급 (주의) → 파란색
    if (numericScore >= 60) return {bgColor: "#FFC107", textColor: "black"}; // C 등급 (경계) → 노란색
    if (numericScore >= 50) return {bgColor: "#FF8C00", textColor: "white"}; // D 등급 (불안) → 주황색
    if (numericScore >= 40) return {bgColor: "#EC193A", textColor: "white"}; // E 등급 (심각) → 빨간색
    return {bgColor: "#1D1D1D", textColor: "white"}; // F 등급 (위험) → 검은색 (흰 글씨)
  }
  function getBadgeClass(score) {
    if (score >= 90) return "S"; // S 등급 (안심)
    if (score >= 80) return "A"; // A 등급 (관심)
    if (score >= 70) return "B"; // B 등급 (주의)
    if (score >= 60) return "C"; // C 등급 (경계)
    if (score >= 50) return "D"; // D 등급 (불안)
    if (score >= 40) return "E"; // E 등급 (심각)
    return "F"; // F 등급 (위험)
  }

  function handleClick(realid, address) {
    $.ajax({
      url: "/api/IssueInquiry/popupDetails",
      type: "GET",
      data: {realid: realid},
      headers: {
        'X-CSRF-Token': $('[name=_csrf]').val()
      },
      success: function (response) {
        console.log("서버에서 받은 데이터(이력 보기):", response);

        if (response.success) {
          let regDateMap = {};
          let regScoreMap = {};

          if (response.findPinNO && response.findPinNO.length > 0) {
            response.findPinNO.forEach(item => {
              if (item.REALID) {
                regDateMap[item.REALID] = item.INDATEM || '';
                regScoreMap[item.REALID] = item.REALSCORE || '';
              }
            });
          }

          let listData = {
            REALID: realid,
            SHORT_ADDR: address // 받아온 주소값 사용
          };

          let transformedDataA = response.findnK ? response.findnK.map(item => ({
            ...item,
            INDATEM: regDateMap[item.REALID] || '미확인',
            REALSCORE: regScoreMap[item.REALID] || '미확인',
            displayText: `[갑구] ${item.RgsAimCont}`
          })) : [];

          let transformedDataB = response.findnE ? response.findnE.map(item => ({
            ...item,
            INDATEM: regDateMap[item.REALID] || '미확인',
            REALSCORE: regScoreMap[item.REALID] || '미확인',
            displayText: `[을구] ${item.RgsAimCont}`
          })) : [];

          updatePopupContent(transformedDataA, transformedDataB, listData);
          $('.list-card-wrap').scrollTop(0);
        } else {
          console.warn("데이터 없음:", response.message);
          Alert.alert('', "해당 물건에 대한 정보를 찾을 수 없습니다.");
        }
      },
      error: function (xhr, status, error) {
        console.error("AJAX 요청 실패:", status, error);
        Alert.alert("서버와의 통신 중 오류가 발생했습니다.");
      }
    });
  }

  function formatDateTo12Hour(indatem) {
    if (!indatem) return "미확인";

    let dateObj = new Date(indatem);
    let year = dateObj.getFullYear();
    let month = String(dateObj.getMonth() + 1).padStart(2, '0');
    let day = String(dateObj.getDate()).padStart(2, '0');
    let hours = dateObj.getHours();
    let minutes = String(dateObj.getMinutes()).padStart(2, '0');
    let period = hours >= 12 ? "PM" : "AM";

    hours = hours % 12 || 12; // 12시간제 변환

    return `${year}-${month}-${day} ${hours}:${minutes} ${period}`;
  }

  function updatePopupContent(findnK, findnE, listData) {
    let popup = document.getElementById('popup-details');
    let overlay = document.querySelector('.popup-overlay');
    let listContainer = document.querySelector('.list-table-wrap');
    let addressField = document.querySelector('#popup-details .ticket-tit dd');

    addressField.textContent = listData?.SHORT_ADDR ?? '주소 정보 없음';

    listContainer.innerHTML = '';

    let allData = [...findnK.map(item => ({...item, type: 'K'})),
      ...findnE.map(item => ({...item, type: 'E'}))];

    if (allData.length === 0) {
      console.warn("등기부등본 데이터 없음");
      Alert.alert('', "별도의 등기목적이 없습니다.");
      listContainer.innerHTML = '<p style="text-align: center; padding: 10px;">해당 물건의 등기부등본 정보가 없습니다.</p>';
      return;
    }

    let groupedData = {};
    allData.forEach(item => {
      let indateTime = formatDateTo12Hour(item.INDATEM);
      let realId = item.REALID;
      let realScore = item.REALSCORE || '';

      let groupKey = `${indateTime}_${realId}`;

      if (!groupedData[groupKey]) {
        groupedData[groupKey] = {
          items: [],
          realScores: new Set()
        };
      }
      groupedData[groupKey].items.push(item);
      groupedData[groupKey].realScores.add(realScore);
    });

    Object.keys(groupedData)
      .sort((a, b) => {
        let [indateTimeA] = a.split("_");
        let [indateTimeB] = b.split("_");

        let dateA = new Date(indateTimeA);
        let dateB = new Date(indateTimeB);
        return dateB - dateA;
      })
      .forEach(groupKey => {
        let {items, realScores} = groupedData[groupKey];
        let [indateTime, realId] = groupKey.split("_");

        let realScoreText = Array.from(realScores).join(", ");
        let cardClass = getCardClassByScore(realScoreText);

        let tableHtml = `
                <table class="register-table" style="width: 100%; border-collapse: collapse; margin-bottom: 15px; overflow-x: auto;">
                    <thead>
                        <tr class="${cardClass}" style="background-color: #f2f2f2;">
                            <th colspan="7" style="padding: 8px; text-align: left;">발급일자: ${indateTime} &nbsp;&nbsp;&nbsp;&nbsp; 점수: ${realScoreText}</th>
                        </tr>
                        <tr>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:80px;">순위번호</th>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:200px;">등기 목적</th>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:200px;">대상 소유자</th>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:400px;text-align: left;">주요 등기사항</th>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:300px;">접수정보</th>
                            <th style="padding: 8px; border: 1px solid #ddd;min-width:80px;">구분</th>
                        </tr>
                    </thead>
                    <tbody>
            `;

        items.forEach(item => {
          let sectionName = item.type === 'K' ? '갑구' : '을구';

          tableHtml += `
                    <tr>
                        <td style="padding: 8px; border: 1px solid #ddd; text-align: center;">${item?.RankNo || ''}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">${item?.Purpose || ''}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">${item?.TargetOwner || ''}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;text-align: left;">${item?.Information || ''}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">${item?.ReceiptInfo || ''}</td>
                        <td style="padding: 8px; border: 1px solid #ddd; text-align: center;">${sectionName}</td>
                    </tr>
                `;
        });

        tableHtml += `
                    </tbody>
                </table>
            `;

        listContainer.innerHTML += tableHtml;
      });

    popup.classList.add('active');
    overlay.style.display = 'block';
    popup.scrollTop = 0;
  }

  //점수별 카드 색
  function getCardClassByScore(score) {
    if (score === "미확인") return "card-white"; // 점수 없음 (S 등급: 안심)
    let numericScore = parseFloat(score); // 점수를 숫자로 변환

    if (numericScore >= 90) return "card-white"; // S 등급 (안심)
    if (numericScore >= 80) return "card-green"; // A 등급 (관심)
    if (numericScore >= 70) return "card-blue";  // B 등급 (주의)
    if (numericScore >= 60) return "card-yellow"; // C 등급 (경계)
    if (numericScore >= 50) return "card-orange"; // D 등급 (불안)
    if (numericScore >= 40) return "card-red";   // E 등급 (심각)
    return "card-black"; // F 등급 (위험)
  }

  $('.btn-popup-close').on('click', function () {
    $('.popup-overlay').fadeOut(200);
    $('.popup-wrapper').removeClass('active');

    $('.popup-contents').scrollTop(0).scrollLeft(0);
    $('.list-table-wrap').scrollTop(0).scrollLeft(0);
  });
</script>
</body>
</html>
