<!DOCTYPE html>
<html lang="ko">
<style>
    .btn-clear {
        display: none !important; /* 강제로 숨김 */
    }

    .btn-close {
        display: none !important; /* 강제로 숨김 */
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[KTFOMS] AI 기반 연료전지 인프라 구축 - 모바일</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Slide css -->
    <link rel="stylesheet" href="/resource/ax5ui/ax5ui.all.css">
    <link rel="stylesheet" type="text/css" href="/assets_mobile/css/import.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="/assets_mobile/js/ui.js"></script> <!-- Common js -->
    <script th:inline="javascript">
        var sandanData = /*[[${session.sandanList}]]*/ [];
    </script>


    <script type="text/javascript" src="/resource/ax5ui/ax5ui.all.min.js?v=1000"></script>

    <script type="text/javascript" src="/js/ax5commUtil.js?v=1070"></script>

    <script src="/js/common.js?v=1060"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- Slide js -->
    <script src="/js/Mobile.js"></script>
</head>

<body>
<div class="mobile-wrapper page-ticket-list"><!-- ★페이지 Class명 -->
    <!-- [모바일] 헤더  -->
    <div class="mobile-layout-header">
        <header>
            <div class="left">
                <a href="#" title="전체메뉴" class="logo">
                </a>
            </div>
            <div class="center" style="margin-left:35px;">
                <h2>물건 열람 상세 내역</h2>
            </div>
            <div class="right">
                <a href="#" title="전체메뉴" class="btn-menu">
                    <img src="/assets_mobile/images/icon/btn-menu.svg" alt="전체메뉴 아이콘">
                </a>
            </div>
        </header>
    </div> <!-- //mobile-layout-header end-->

    <!-- [모바일] 메뉴  -->
    <div th:insert="~{mobile/mobile_menu :: mobile_menu}"></div>
    <!-- [모바일] 컨덴츠  -->
    <div class="mobile-layout-contents">
        <!--- (레이아웃) Contents 영역 -->
        <div class="layout-contents">
            <!-- 검색 영역  -->
            <div class="search-wrap">
                <div class="srch-tit aco-hd">
                    <p>기본검색</p>
                    <a href="#" title="열기/닫기" class="btn-aco">
                        <img src="/assets_mobile/images/icon/ico-down.svg" alt="열기/닫기">
                    </a>
                </div>
                <div class="srch-cont aco-cont">
                    <dl>
                        <dt>
                            조회일자<span class="eq">*</span>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="startDate" name="startDate">
                                    <label for="startDate" class="hide">시작일</label>
                                </li>
                                <li>
                                    <input type="date" id="endDate" name="endDate">
                                    <label for="endDate" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>검색 조건</dt>
                        <dd>
                            <div style="display: flex; gap: 10px; align-items: center;">
                                <div style="width: 100%; display: flex; gap: 20px;">
                                    <label style="display: flex; align-items: center; gap: 5px;">
                                        <input type="radio" name="property" value="my_property" checked> 내가 조회한 물건
                                    </label>
                                    <label style="display: flex; align-items: center; gap: 5px;">
                                        <input type="radio" name="property" value="recent_property"> 최근 조회한 물건
                                    </label>
                                    <label style="display: flex; align-items: center; gap: 5px;">
                                        <input type="radio" name="property" value="most_viewed_property"> 가장 많이 조회한 물건
                                    </label>
                                    <label style="display: flex; align-items: center; gap: 5px;">
                                        <input type="radio" name="property" value="popular_property"> 인기물건
                                    </label>
                                </div>
                            </div>
                        </dd>
                    </dl>

                    <div class="srch-btn">
                        <button class="btn-dark" onclick="handleSearch()">조회</button>
                    </div>
                </div>
            </div>
            <!-- 컨텐츠 영역  -->
            <div class="contents-wrap">
                <div class="list-top-wrap">
                    <div class="list-num">
                        목록 <span class="blue">- 건</span>
                    </div>
                </div>
                <div id="addressWrap" class="contents-wrap">

                </div> <!--//card-wrap end-->
            </div> <!--// contents-wrap end-->
        </div> <!--//layout-contents end -->

    </div> <!-- //mobile-layout-contents end-->


</div> <!-- //page-wrapper end-->

<script th:inline="javascript">
    // // Thymeleaf에서 값 설정: Null 체크와 기본값 처리
    // var groupid = [[${session.groupid != null ? session.groupid : 'null'}]];
    // var id = /*[[${id != null ? id : 'null'}]]*/;
    // var groupname = /*[[${groupname != null ? groupname : 'null'}]]*/;
    // var username = /*[[${username != null ? username : 'null'}]]*/;
    //
    // // 로컬스토리지에 값 유지 (null 또는 빈 문자열은 저장하지 않음)
    // if (groupid && groupid !== 'null') localStorage.setItem('groupid', groupid);
    // if (id && id !== 'null') localStorage.setItem('id', id);
    // if (username && username !== 'null') localStorage.setItem('username', username);
    // if (groupname && groupname !== 'null') localStorage.setItem('groupname', groupname);
</script>


<script type="text/javascript">

    document.readyState === 'complete' ? init() : window.onload = init;
    // 오늘 날짜 설정
    const date = new Date();
    date.setHours(date.getHours() + 9); // UTC+9로 한국 시간 설정
    const today = date.toISOString().split('T')[0];
    const currentYear = date.getFullYear();

    // 기본값 설정 (올해 1월 1일 ~ 오늘)
    document.getElementById('startDate').value = `${currentYear}-01-01`;
    document.getElementById('endDate').value = today;

    // 라디오 버튼 변경 이벤트 리스너 추가
    document.querySelectorAll('input[name="property"]').forEach((radio) => {
        radio.addEventListener('change', updateDateRange);
    });

    function updateDateRange() {
        const selectedValue = document.querySelector('input[name="property"]:checked').value;
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');

        let newStartDate;
        const today = new Date(); // 현재 날짜

        if (selectedValue === "my_property") {
            // 올해 1월 1일 ~ 오늘
            newStartDate = new Date(today.getFullYear(), 0, 1); // 1월 1일
        } else if (selectedValue === "recent_property") {
            // 한 달 전 ~ 오늘
            newStartDate = new Date(today);
            newStartDate.setMonth(today.getMonth() - 1);
        } else if (selectedValue === "most_viewed_property") {
            // 일 년 전 ~오늘
            newStartDate = new Date(today);
            newStartDate.setFullYear(today.getFullYear() - 1);
        } else if (selectedValue === "popular_property") {
            // 1주일 전 ~ 오늘
            newStartDate = new Date(today);
            newStartDate.setDate(today.getDate() - 14);
        }

        // 날짜 형식 변환 (YYYY-MM-DD)
        startDateInput.value = newStartDate.toISOString().split('T')[0];
        endDateInput.value = today.toISOString().split('T')[0];
    }

    function init() {
        fetchListData();
    }

    // 데이터를 받아와 카드 렌더링
    function fetchListData() {
        $.ajax({
            url: '/api/mobile_production/read_all',
            type: 'GET',
            data: {
                'search_startDate': $('#startDate').val(),
                'search_endDate': $('#endDate').val(),
                'search_property': $('input[name="property"]:checked').val()
            },
            success: function (data) {
               /* console.log("서버 응답 데이터:", data);
                console.log("작업목록:", data.data);*/
                // 데이터가 올바른지 확인
                if (!data || !data.data || !Array.isArray(data.data)) {
                    console.error("데이터가 올바르지 않습니다.");
                    return;
                }

                // 목록 건수 업데이트
                const listNumElement = document.querySelector('.list-num .blue');
                if (listNumElement) {
                    listNumElement.textContent = `${data.data.length} 건`;
                }

                // 주소 리스트 업데이트
                const listAddressWrap = document.getElementById('addressWrap');
                if (!listAddressWrap) {
                    console.error("addressWrap 요소를 찾을 수 없습니다.");
                    return;
                }

                listAddressWrap.innerHTML = ''; // 기존 내용 초기화
                const availableColors = ['card-blue', 'card-green', 'card-black', 'card-red', 'card-yellow', 'card-purple'];
                let colorIndex = 0;
                let htmlContent = '';

                const selectedValue = $('input[name="property"]:checked').val();  // selectedValue 가져오기

                data.data.forEach(item => {
                    const cardColor = availableColors[colorIndex];
                    colorIndex = (colorIndex + 1) % availableColors.length;

                    htmlContent += `
        <div class="card-box ${cardColor}">
            <div class="card-cont">
                <dl>
                    <dt>판정점수</dt>
                    <dd>${item.REALSCORE}</dd>
                </dl>
                <dl>
                    <dt>시구군</dt>
                    <dd>${item.REGUGUN}</dd>
                </dl>
                <dl>
                    <dt>구축물</dt>
                    <dd>${item.REALGUBUN}</dd>
                </dl>
                <dl>
                    <dt>조회날짜</dt>
                    <dd>${item.REQDATE}</dd>
                </dl>

                ${ (selectedValue === "most_viewed_property" || selectedValue === "popular_property") ? `
                <dl>
                    <dt>조회수</dt>
                    <dd>${item.view_count}</dd>
                </dl>
                ` : '' }

            </div>
        </div>
    `;
                });

                listAddressWrap.innerHTML = htmlContent; // 추가된 부분
            },
            error: function (xhr, status, error) {
                console.error("AJAX 요청 실패:", status, error);
                console.error("응답 내용:", xhr.responseText);
            }
        });
    }

    function openModal(popupId) {
        let popup = document.getElementById(popupId);
        let overlay = document.querySelector('.popup-overlay');

        if (popup && overlay) {
            popup.classList.add('active'); // 팝업 활성화
            overlay.style.display = 'block'; // 오버레이 보이기
        } else {
            console.error('popup2 또는 popup-overlay 요소를 찾을 수 없습니다.');
        }
    }

    function ModalClose(popupId) {
        let popup = document.getElementById(popupId);
        let overlay = document.querySelector('.popup-overlay');

        if (popup && overlay) {
            popup.classList.remove('active'); // 팝업 비활성화
            overlay.style.display = 'none'; // 오버레이 숨기기
        }
    }

    function handleSearch() {
        fetchListData();
        closeSearch();
    }

    // 조회버튼 클릭시 검색창 close
    function closeSearch() {
        document.querySelector('.btn-aco').click();
    }

</script>
</body>
</html>
