<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>
    .section-item{
        order: 0;
    }
</style>
<th:block layout:fragment="content">

    <!--- (레이아웃) Contents 영역 -->
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap" style="margin-bottom: 0px">
            <div class="left">
                <h2>FACT CHECK 모니터링</h2>
<!--                <a id="toggleButton" onclick="toggleSearchWrap()"><img src="/images/icon/ico-down.png"-->
<!--                                                                       alt="알람 아이콘"></a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
            </ul>
        </div>
        <!-- Select -->
        <div class="search-wrap" id="searchWrap" style="display: none">
            <ul>
                <li>
                    <select title="지역">
                        <option>대구</option>
                    </select>
                </li>
                <li>
                    <select title="구">
                        <option>성서산단</option>
                    </select>
                </li>
                <li>
                    <select title="동">
                        <option>성서</option>
                    </select>
                </li>
            </ul>
            <div class="card-btn-wrap">
                <div class="btn swiper-button-prev"></div>
                <div class="btn swiper-button-next"></div>
                <a title="카드설정" class="btn btn-popup-open" data-popup="popup1">
                    <img src="/images/icon/btn-setting.svg" alt="설정아이콘">
                </a>
            </div>
        </div>
        <div class="row row-1" style="margin-bottom: 0;">
            <div class="card-wrap swiper card-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <section class="singupCard">
                            <div class="title">
                                <h3>금일신규사용자</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>신규사용자</dt>
                                <dd>
                                    100 <span class="unit">명</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="down"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="BestSearchCard">
                            <div class="title">
                                <h3>금일상위검색지역</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>검색지역</dt>
                                <dd>
                                    강남구 <span class="unit"></span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 2.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="ThisMonthSignupCard">
                            <div class="title">
                                <h3>이번달 총가입자 수</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>가입자 수</dt>
                                <dd>
                                    9,999 <span class="unit">명</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전월대비</dt>
                                <dd>
                                    <span class="up"></span> 39.0 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="CntOfRegisterCard">
                            <div class="title">
                                <h3>금일 등기발급건수</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>건수</dt>
                                <dd>
                                    100 <span class="unit">건</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                    <div class="swiper-slide">
                        <section class="AnswerCard">
                            <div class="title">
                                <h3>금일 미답변문의건수</h3>
                                <a href="#" title="더보기" class="btn-plus"></a>
                            </div>
                            <dl>
                                <dt>건수</dt>
                                <dd>
                                    10 <span class="unit">건</span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>전일대비</dt>
                                <dd>
                                    <span class="up"></span> 1.20 <span class="unit">%</span>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </div> <!--//swiper-wrapper end -->
            </div> <!--//main-card-wrap end -->
        </div>
        <div class="row row-2">
            <section class="wp50" style="height: 678px">
                <div class="title-wrap">
                    <h3>금일 신규 사용자</h3>
                </div>
                <div class="">
                    <div id="theGrid1" style="height: 247px"></div>
                </div>
                <div class="title-wrap" style="margin-top: 16px">
                    <h3>금일 상위 검색매물</h3>
                </div>
                <div class="">
                    <div id="theGrid2" style="height: 247px"></div>
                </div>
            </section>
            <div class="col wp50">
                <section>
                    <div class="title-wrap">
                        <h3 id="weektitle">주간 통계</h3>
                        <ul class="tab-links-sub">
                            <li>
                                <a href="#tab1" title="일주일" id="weekPeriod" style="padding: 3px 10px 3px 10px;">10.1~10.7(주간)</a>
                            </li>
                            <li>
                                <a href="#tab2" title="탈퇴현황" style="padding: 3px 10px 3px 10px;">탈퇴현황</a>
                            </li>
                            <li>
                                <a href="#tab3" title="등기발급건수" style="padding: 3px 10px 3px 10px;">등기발급건수</a>
                            </li>
                            <li>
                                <a href="#tab4" title="상위검색지역" style="padding: 3px 10px 3px 10px;">상위검색지역</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents">
                        <!-- tab1 -->
                        <div class="tab-item-sub h280" id="tab1">
                            <div class="chart-wrap">
                                <canvas id="SignupOfWeek" width="740" height="265" style="width: 740px; height: 265px;"></canvas>
<!--                                <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('revenueChart')">zoom_out_map</span>-->
                                <div id="noDataMessage1" style="width: 740px; text-align: center; font-size: 16px; color: gray; display: flex;
                                                                justify-content: center; align-items: center; height: 280px;">
                                    가입자현황이 없습니다.
                                </div>
                            </div>
                        </div>
                        <!-- tab2 -->
                        <div class="tab-item-sub h280" id="tab2">
                            <div class="chart-wrap">
                                <canvas id="Signout" width="740" height="265" style="width: 740px; height: 265px;"></canvas>
                                <!--                                <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('revenueChart')">zoom_out_map</span>-->
                                <div id="noDataMessage2" style="width: 740px; text-align: center; font-size: 16px; color: gray; display: flex;
                                                                justify-content: center; align-items: center; height: 280px;">
                                    탈퇴현황이 없습니다.
                                </div>
                            </div>
                        </div>
                        <!-- tab3 -->
                        <div class="tab-item-sub h280" id="tab3">
                            <div class="chart-wrap">
                                <canvas id="CntOfRegister" width="740" height="265" style="width: 740px; height: 265px;"></canvas>
                                <!--                                <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('revenueChart')">zoom_out_map</span>-->
                                <div id="noDataMessage3" style="width: 740px; text-align: center; font-size: 16px; color: gray; display: flex;
                                                                justify-content: center; align-items: center; height: 280px;">
                                    등기발급현황이 없습니다.
                                </div>
                            </div>
                        </div>
                        <!-- tab4 -->
                        <div class="tab-item-sub h280" id="tab4">
                            <div class="chart-wrap">
                                <canvas id="BestSearch" width="740" height="265" style="width: 740px; height: 265px;"></canvas>
                                <!--                                <span class="material-symbols-outlined" style="position: absolute; top: 17px; right: 3px; cursor: pointer; z-index: 10; color: rgb(179, 179, 179);" onclick="openModal('revenueChart')">zoom_out_map</span>-->
                                <div id="noDataMessage4" style="width: 740px; text-align: center; font-size: 16px; color: gray; display: flex;
                                                                justify-content: center; align-items: center; height: 280px;">
                                    지역검색현황이 없습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section style="height: 287px; margin-bottom: 0">
                    <div class="title-wrap">
                        <h3>1:1미답변 문의글</h3>
                    </div>
                    <div class="">
                        <div id="theGrid3" style="height: 200px"></div>
                    </div>
                </section>
            </div>
        </div>
    </div> <!--//layout-contents end -->
    <footer>
        <p>ⓒ factCheck corp.All rights reserved.</p>
    </footer>
    <div style="height: 10px"></div>

    <!-- [대시보드] 팝업  -->
    <div class="dashboard-layout-popup">
        <div class="popup-overlay"></div>
        <div class="popup-wrapper wp80" id="popup1">
            <div class="popup-title">
                <h3>카드 수정</h3>
                <a title="팝업닫기" class="btn-popup-close">
                    <img src="/images/icon/btn-popup-close.svg" alt="닫기">
                </a>
            </div>
            <div class="popup-contents">
                <div class="card-wrap card-edit-wrap" id="cardwrap">
                    <div class="gesture-box">
                        <img src="/images/icon/ico-gesture.png" alt="제스처 안내">
                    </div>
                    <section class="section-item" data-title="INPUT1">
                        <div class="title">
                            <h3>INPUT1</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>LNG사용량</dt>
                            <dd>
                                9,999 <span class="unit">Nm³</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section class="section-item" data-title="Elec. OUTPUT">
                        <div class="title">
                            <h3>Elec. OUTPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기생산량</dt>
                            <dd>
                                9,999 <span class="unit">kWh</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 2.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section  class="section-item" data-title="Heat OUTPUT">
                        <div class="title">
                            <h3>Heat OUTPUT</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>열 생산량</dt>
                            <dd>
                                9,999 <span class="unit">Mcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section  class="section-item" data-title="F/C Efficiency">
                        <div class="title">
                            <h3>F/C Efficiency</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기효율</dt>
                            <dd>
                                45.5 <span class="unit">%</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>열효율</dt>
                            <dd>
                                39.0 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section  class="section-item" data-title="INCOME">
                        <div class="title">
                            <h3>INCOME</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>예상수익</dt>
                            <dd>
                                999,999 <span class="unit">원</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>

                    <section  class="section-item" data-title="Heat OUTPUT2">
                        <div class="title">
                            <h3>Heat OUTPUT2</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>열 생산량</dt>
                            <dd>
                                9,999 <span class="unit">Mcal</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="down"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section  class="section-item" data-title="F/C Efficiency2">
                        <div class="title">
                            <h3>F/C Efficiency2</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>전기효율</dt>
                            <dd>
                                45.5 <span class="unit">%</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>열효율</dt>
                            <dd>
                                39.0 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                    <section class="card-hidden section-item" data-title="INCOME2">
                        <div class="title">
                            <h3>INCOME2</h3>
                            <a title="숨김" class="btn-hidden"></a>
                        </div>
                        <dl>
                            <dt>예상수익</dt>
                            <dd>
                                999,999 <span class="unit">원</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>전일대비</dt>
                            <dd>
                                <span class="up"></span> 1.20 <span class="unit">%</span>
                            </dd>
                        </dl>
                    </section>
                </div> <!--//swiper-wrapper end -->
            </div>
            <div class="popup-button">
                <button class="btn-popup-close">취소</button>
                <button class="btn-navy" id="btnSave">저장</button>
            </div>
        </div>
    </div>


    <script>
        let csrfToken = $("[name=_csrf]").val();
        var theGrid1;
        var viewdata1;
        var theGrid2;
        var viewdata2;
        var theGrid3;
        var viewdata3;

        // 오늘 날짜를 yyyy-MM-dd 형식으로 생성
        const today = new Date();
        const formatToday = today.toISOString().split('T')[0]; // 'yyyy-MM-dd' 형식
        const yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1);
        const formatYesterday = yesterday.toISOString().slice(0, 10); // yyyy-MM-dd 형식

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {
            fetchListData();
            fetchListData2();
            fetchListData3();
            createCharts();
            cardData();
            // 모든 tab에서 아이콘을 숨기기
            const zoomIcons = document.querySelectorAll('.chart-wrap .material-symbols-outlined');
            zoomIcons.forEach(icon => {
                icon.style.display = 'none'; // 또는 icon.style.visibility = 'hidden';
            });
        }

        var swiper = new Swiper(".card-swiper", {
            slidesPerView: 5,
            spaceBetween: 20,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        $('#btnSave').click(function(){

        });

        // 금일 신규 사용자 그리드
        function fetchListData() {
            let data2 = [{},{},{},{},{}];

            $.ajax({
                url: '/api/factDashboard/todaySignup',
                type: 'GET',
                data: {},
                async: false,
                success: function (data) {
                    data2 = data.data;
                    // data2의 개수가 4개 미만인 경우 빈 객체 추가
                    while (data2.length < 4) {
                        data2.push({});
                    }
                }
            })

            viewdata1 = new wijmo.collections.CollectionView(data2);

            if (!theGrid1) {

                // 데이터 그리드에 바인딩
                theGrid1 = new wijmo.grid.FlexGrid('#theGrid1', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    columns: [
                        {binding: 'no', header: 'No', width: 80, minWidth: 80, align: 'center'},
                        {binding: 'USERNM', header: '사용자명', width: 125, align: 'center'},
                        {binding: 'USERADDR', header: '지역', width: 200, align: 'left'},
                        {binding: 'AGENUM', header: '연령', width: 80, align: 'center'},
                        {binding: 'USERHP', header: '연락처', width: '*', minWidth: 100, align: 'center'}
                    ],
                    itemsSource: viewdata1,
                });
                // 헤더를 중앙 정렬하는 이벤트 핸들러
                theGrid1.formatItem.addHandler(function (s, e) {
                    if (e.panel === s.columnHeaders) {
                        e.cell.style.textAlign = 'center';
                    }
                });
                theGrid1.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid1);
                window.downloadFileName = '주문등록';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid1.itemsSource = viewdata1;
            }
        }
        // 금일 상위 검색지역 그리드
        function fetchListData2() {
            let data2 = [{},{},{},{},{}];


            $.ajax({
                url: '/api/factDashboard/todayAddress',
                type: 'GET',
                data: {
                    'reqnum': $('#reqnum').val()
                },
                async: false,
                success: function (data) {
                    data2 = data.data;
                    // data2의 개수가 4개 미만인 경우 빈 객체 추가
                    while (data2.length < 4) {
                        data2.push({});
                    }
                }
            })

            viewdata2 = new wijmo.collections.CollectionView(data2);

            if (!theGrid2) {

                // 데이터 그리드에 바인딩
                theGrid2 = new wijmo.grid.FlexGrid('#theGrid2', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    columns: [
                        {binding: 'no', header: 'No', width: 80, minWidth: 80, align: 'center'},
                        {binding: 'REALADD', header: '검색 매물', width: '*', minWidth: 180, align: 'left'},
                        {binding: 'RESIDO', header: '시/도', width: 120, minWidth: 80, align: 'center'},
                        {binding: 'REGUGUN', header: '구/군', width: 120, minWidth: 80, align: 'center'},
                        {binding: 'REALSCORE', header: '점수', width: 80, align: 'center'},
                        {binding: 'REALPOINT', header: '조회건수', width: 90, minWidth: 80, align: 'center'}
                    ],
                    itemsSource: viewdata2,
                });
                // 헤더를 중앙 정렬하는 이벤트 핸들러
                theGrid2.formatItem.addHandler(function (s, e) {
                    if (e.panel === s.columnHeaders) {
                        e.cell.style.textAlign = 'center';
                    }
                });

                theGrid2.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid2);
                window.downloadFileName = '주문등록';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid2.itemsSource = viewdata2;
            }
        }
        // 1:1미답변 문의글 그리드
        function fetchListData3() {
            let data2 = [{},{},{},{}];

            $.ajax({
                url: '/api/factDashboard/QnAList',
                type: 'GET',
                data: {},
                async: false,
                success: function (data) {
                    data2 = data.data;
                    // data2의 개수가 3개 미만인 경우 빈 객체 추가
                    while (data2.length < 3) {
                        data2.push({});
                    }
                }
            })

            viewdata3 = new wijmo.collections.CollectionView(data2);

            if (!theGrid3) {

                // 데이터 그리드에 바인딩
                theGrid3 = new wijmo.grid.FlexGrid('#theGrid3', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    columns: [
                        {binding: 'no', header: 'No', width: 80, minWidth: 80, align: 'center'},
                        {binding: 'INDATEM', header: '문의일자', width: 120, align: 'center'},
                        {binding: 'USERID', header: '사용자명', width: 100, align: 'center'},
                        {binding: 'QSTTEXT', header: '문의내용', width: 200, align: 'left'},
                        {binding: 'QSTTEL', header: '연락처', width: 140, align: 'center'},
                        {binding: 'INDATEMTIME', header: '등록시간', width: '*', minWidth: 120, align: 'center'}
                    ],
                    itemsSource: viewdata3,
                });
                // 헤더를 중앙 정렬하는 이벤트 핸들러
                theGrid3.formatItem.addHandler(function (s, e) {
                    if (e.panel === s.columnHeaders) {
                        e.cell.style.textAlign = 'center';
                    }
                });
                theGrid3.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
                new FlexGridContextMenu(theGrid3);
                window.downloadFileName = '주문등록';
            } else {
                // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
                theGrid3.itemsSource = viewdata3;
            }
        }
        // 차트 생성 함수
        function createCharts() {
            let data2 = [];
            const ctxSignupOfWeek = document.getElementById('SignupOfWeek').getContext('2d');
            const ctxSignout = document.getElementById('Signout').getContext('2d');
            const ctxCntOfRegister = document.getElementById('CntOfRegister').getContext('2d');
            const ctxBestSearch = document.getElementById('BestSearch').getContext('2d');

            // 기존 차트 인스턴스가 있으면 제거
            if ($('#SignupOfWeek').data('chart')) {
                $('#SignupOfWeek').data('chart').destroy();
            }
            if ($('#Signout').data('chart')) {
                $('#Signout').data('chart').destroy();
            }
            if ($('#CntOfRegister').data('chart')) {
                $('#CntOfRegister').data('chart').destroy();
            }
            if ($('#BestSearch').data('chart')) {
                $('#BestSearch').data('chart').destroy();
            }
            $.ajax({
                url: '/api/factDashboard/createCharts',
                type: 'GET',
                data: {},
                async: false,
                success: function (data) {
                    data2 = data.data;
                    // 차트 작업
                    // 일주일 가입자 현황 데이터
                    let SignupOfWeek = data2.SignupOfWeek;
                    const noDataMessage1 = document.getElementById('noDataMessage1');
                    const canvasElement1 = document.getElementById('Signout');
                    const firstDate = data2.SignupOfWeek[0].DATE;
                    const lastDate = data2.SignupOfWeek[data2.SignupOfWeek.length - 1].DATE;

                    // Signout 데이터가 빈 배열인지 확인
                    if (SignupOfWeek.length === 0) {
                        // 빈 데이터일 경우 처리
                        canvasElement1.style.display = 'none';  // 차트 숨기기
                        noDataMessage1.style.display = 'flex';
                        // id가 'weekPeriod'인 요소를 찾습니다.
                        const weekPeriodElement = document.getElementById('weekPeriod');

                        // 요소의 텍스트를 수정합니다.
                        if (weekPeriodElement) {
                            weekPeriodElement.textContent = `가입자현황(주간)`;
                        }
                    } else {
                        noDataMessage1.style.display = 'none';
                        // X축 레이블과 Y축 데이터 생성
                        const DAY = SignupOfWeek.map(item => item.DAY);
                        const CNT = SignupOfWeek.map(item => item.CNT);

                        // mm.dd 형식으로 변환하는 함수
                        const formatDate = (dateStr) => {
                            const month = dateStr.slice(5, 7); // 'yyyy-MM-dd'에서 월 추출
                            const day = dateStr.slice(8, 10);  // 'yyyy-MM-dd'에서 일 추출
                            return `${month}.${day}`;
                        };
                        // 오늘 날짜 계산
                        const today = new Date();
                        const lastWeek = new Date();
                        lastWeek.setDate(today.getDate() - 7);

                        // 형식 변환
                        const formattedDateRange2 = `${formatDate(lastWeekStr)} ~ ${formatDate(todayStr)}`;

                        // 'yyyy-MM-dd' 포맷으로 변환
                        const todayStr = today.toISOString().slice(0, 10);
                        const lastWeekStr = lastWeek.toISOString().slice(0, 10);
                        // 형식 변환
                        const formattedDateRange = `${formatDate(firstDate)}~${formatDate(lastDate)}`;
                        // id가 'weekPeriod'인 요소를 찾습니다.
                        const weekPeriodElement = document.getElementById('weekPeriod');weektitle
                        const weektitleElement = document.getElementById('weektitle');

                        // 요소의 텍스트를 수정합니다.
                        if (weekPeriodElement) {
                            weekPeriodElement.textContent = `${formatDate(lastWeekStr)} ~ ${formatDate(todayStr)} (주간)`;
                        }
                        if (weektitleElement) {
                            weektitleElement.textContent = `주간 통계 (${formatDate(lastWeekStr)} ~ ${formatDate(todayStr)})`;

                        }
                        // 새로운 차트 데이터
                        const SignupOfWeekData = {
                            labels: DAY,
                            datasets: [{
                                data: CNT,
                                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                                borderColor: 'rgba(98, 178, 253, 1)',
                                borderWidth: 1
                            }]
                        };
                        // 차트 생성 후 인스턴스를 data 속성에 저장
                        $('#SignupOfWeek').data('chart', new Chart(ctxSignupOfWeek, {
                            type: 'bar',
                            data: SignupOfWeekData,
                            options: {
                                plugins: {
                                    legend: {
                                        display: false // 범례 비활성화
                                    }
                                },
                                scales: {
                                    y: {beginAtZero: true}
                                }
                            }
                        }));
                    }
                    // 차트 데이터 활용 카드 설정(금일 신규 사용자 카드)
                    // 조회된 데이터에서 오늘 날자의 데이터가 없을경우 당일 데이터 처리
                    // 오늘 날짜와 마지막 데이터의 DATE 비교
                    let LastDayCnt, ThisDayCnt;

                    if (data2.SignupOfWeek.length > 0) {
                        // 어제 데이터 찾기
                        const yesterdayData = data2.SignupOfWeek.find(item => item.DATE === formatYesterday);
                        const todayData = data2.SignupOfWeek.find(item => item.DATE === formatToday);

                        if (todayData) {
                            // 오늘 데이터가 있는 경우
                            ThisDayCnt = todayData.CNT;
                            LastDayCnt = yesterdayData ? yesterdayData.CNT : 0; // 어제 데이터가 있으면 사용, 없으면 0
                        } else if (yesterdayData) {
                            // 오늘 데이터가 없고 어제 데이터가 있는 경우
                            ThisDayCnt = 0;
                            LastDayCnt = yesterdayData.CNT;
                        } else {
                            // 어제와 오늘 데이터 모두 없는 경우
                            ThisDayCnt = 0;
                            LastDayCnt = 0;
                        }
                    } else {
                        // 조회된 데이터가 아예 없는 경우
                        LastDayCnt = 0;
                        ThisDayCnt = 0;
                    }
                    // 두 값의 차이 계산
                    const difference0 = ThisDayCnt - LastDayCnt;
                    const division0 = LastDayCnt !== 0 ? ((difference0 / LastDayCnt) * 100).toFixed(2) : '전일 0건'; // 퍼센트 계산
                    // 결과를 HTML에 업데이트
                    const requestSection = document.querySelector('.singupCard dl dd');
                        requestSection.innerHTML = `${ThisDayCnt} <span class="unit">명</span>`;
                    // 전일 대비 퍼센테이지 업데이트
                    const percentageSection = document.querySelector('.singupCard dl:nth-of-type(2) dd');
                    if(difference0 >= 0) {
                        percentageSection.innerHTML = `<span class="up"></span> ${division0} <span class="unit">%</span>`;
                    }else{
                        percentageSection.innerHTML = `<span class="down"></span> ${division0} <span class="unit">%</span>`;
                    }

                    // 탈퇴 현황 데이터
                    let Signout = data2.Signout;
                    const noDataMessage2 = document.getElementById('noDataMessage2');
                    const canvasElement2 = document.getElementById('Signout');

                    // Signout 데이터가 빈 배열인지 확인
                    if (Signout.length === 0) {
                        // 빈 데이터일 경우 처리
                        canvasElement2.style.display = 'none';  // 차트 숨기기
                        noDataMessage2.style.display = 'flex';
                    } else {
                        noDataMessage2.style.display = 'none';  // 텍스트 숨기기
                        // X축 레이블과 Y축 데이터 생성
                        const DAY2 = Signout.map(item => item.DAY);
                        const CNT2 = Signout.map(item => item.CNT);

                        // 새로운 차트 데이터
                        const SignoutData = {
                            labels: DAY2,
                            datasets: [{
                                data: CNT2,
                                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                                borderColor: 'rgba(98, 178, 253, 1)',
                                borderWidth: 1
                            }]
                        };

                        // 차트 생성 후 인스턴스를 data 속성에 저장
                        $('#Signout').data('chart', new Chart(ctxSignout, {
                            type: 'bar',
                            data: SignoutData,
                            options: {
                                plugins: {
                                    legend: {
                                        display: false // 범례 비활성화
                                    }
                                },
                                scales: {
                                    y: { beginAtZero: true }
                                }
                            }
                        }));
                    }

                    // 등기발급건수 데이터
                    let CntOfRegister = data2.CntOfRegister;
                    const noDataMessage3 = document.getElementById('noDataMessage3');
                    const canvasElement3 = document.getElementById('Signout');
                    const lastDate2 = data2.CntOfRegister[data2.CntOfRegister.length - 1].DATE;
                    // Signout 데이터가 빈 배열인지 확인
                    if (CntOfRegister.length === 0) {
                        // 빈 데이터일 경우 처리
                        canvasElement3.style.display = 'none';  // 차트 숨기기
                        noDataMessage3.style.display = 'flex';
                    } else {
                        noDataMessage3.style.display = 'none';  // 텍스트 숨기기
                        // X축 레이블과 Y축 데이터 생성
                        const DAY3 = CntOfRegister.map(item => item.DAY);
                        const CNT3 = CntOfRegister.map(item => item.CNT);


                        // 새로운 차트 데이터
                        const CntOfRegisterData = {
                            labels: DAY3,
                            datasets: [{
                                data: CNT3,
                                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                                borderColor: 'rgba(98, 178, 253, 1)',
                                borderWidth: 1
                            }]
                        };
                        // 차트 생성 후 인스턴스를 data 속성에 저장
                        $('#CntOfRegister').data('chart', new Chart(ctxCntOfRegister, {
                            type: 'bar',
                            data: CntOfRegisterData,
                            options: {
                                plugins: {
                                    legend: {
                                        display: false // 범례 비활성화
                                    }
                                },
                                scales: {
                                    y: {beginAtZero: true}
                                }
                            }
                        }));
                    }
                    // 차트 데이터 활용 카드 설정
                    // 조회된 데이터에서 오늘 날자의 데이터가 없을경우 당일 데이터 처리
                    // 오늘 날짜와 마지막 데이터의 DATE 비교
                    let LastDayCnt2, ThisDayCnt2;

                    if (data2.CntOfRegister.length > 0) {
                        // 어제 데이터 찾기
                        const yesterdayData2 = data2.CntOfRegister.find(item => item.DATE === formatYesterday);
                        const todayData2 = data2.CntOfRegister.find(item => item.DATE === formatToday);

                        if (todayData2) {
                            // 오늘 데이터가 있는 경우
                            ThisDayCnt2 = todayData2.CNT;
                            LastDayCnt2 = yesterdayData2 ? yesterdayData2.CNT : 0; // 어제 데이터가 있으면 사용, 없으면 0
                        } else if (yesterdayData2) {
                            // 오늘 데이터가 없고 어제 데이터가 있는 경우
                            ThisDayCnt2 = 0;
                            LastDayCnt2 = yesterdayData2.CNT;
                        } else {
                            // 어제와 오늘 데이터 모두 없는 경우
                            ThisDayCnt2 = 0;
                            LastDayCnt2 = 0;
                        }
                    } else {
                        // 조회된 데이터가 아예 없는 경우
                        LastDayCnt2 = 0;
                        ThisDayCnt2 = 0;
                    }
                    const difference2 = ThisDayCnt2 - LastDayCnt2;
                    const division2 = LastDayCnt2 !== 0 ? ((difference2 / LastDayCnt2) * 100).toFixed(2) : '전일 0건'; // 퍼센트 계산
                    const requestSection2 = document.querySelector('.CntOfRegisterCard dl dd');
                    requestSection2.innerHTML = `${ThisDayCnt2} <span class="unit">건</span>`;
                    const percentageSection2 = document.querySelector('.CntOfRegisterCard dl:nth-of-type(2) dd');
                    if(difference2 >= 0) {
                        percentageSection2.innerHTML = `<span class="up"></span> ${division2} <span class="unit">%</span>`;
                    }else{
                        percentageSection2.innerHTML = `<span class="down"></span> ${division2} <span class="unit">%</span>`;
                    }

                    // 상위검색지역 데이터
                    let BestSearch = data2.BestSearch;
                    const noDataMessage4 = document.getElementById('noDataMessage4');
                    const canvasElement4 = document.getElementById('Signout');

                    // Signout 데이터가 빈 배열인지 확인
                    if (BestSearch.length === 0) {
                        // 빈 데이터일 경우 처리
                        canvasElement4.style.display = 'none';  // 차트 숨기기
                        noDataMessage4.style.display = 'flex';
                        // id가 'weekPeriod'인 요소를 찾습니다.
                        const weekPeriodElement = document.getElementById('weekPeriod');
                    } else {
                        noDataMessage4.style.display = 'none';
                        // X축 레이블과 Y축 데이터 생성
                        const REGUGUN = BestSearch.map(item => item.REGUGUN);
                        const TotalSearches = BestSearch.map(item => item.TotalSearches);
                        const YesterdaySearchCount = BestSearch.map(item => item.YesterdaySearchCount);

                        // 새로운 차트 데이터
                        const BestSearchData = {
                            labels: REGUGUN,
                            datasets: [{
                                data: TotalSearches,
                                backgroundColor: 'rgba(98, 178, 253, 0.5)',
                                borderColor: 'rgba(98, 178, 253, 1)',
                                borderWidth: 1
                            }]
                        };
                        // 차트 생성 후 인스턴스를 data 속성에 저장
                        $('#BestSearch').data('chart', new Chart(ctxBestSearch, {
                            type: 'bar',
                            data: BestSearchData,
                            options: {
                                plugins: {
                                    legend: {
                                        display: false // 범례 비활성화
                                    }
                                },
                                scales: {
                                    y: {beginAtZero: true}
                                }
                            }
                        }));
                    }
                    // 차트 데이터 활용 카드 설정
                    let LastDayCntOfSearch = data2.BestSearch[0]?.YesterdaySearchCount || 0;
                    let ThisDayCntOfSearch = data2.BestSearch[0]?.TodaySearchCount || 0;
                    let BestGUGUN = data2.BestSearch[0]?.REGUGUN || "데이터 없음";
                    let BestSIDO = data2.BestSearch[0]?.RESIDO || "데이터 없음";

                    // 오늘 데이터가 없으면 전일 데이터도 강제로 0
                    if (ThisDayCntOfSearch === 0) {
                        LastDayCntOfSearch = 0;
                    }

                    // 차이 및 변화율 계산
                    const differenceOfSearch = ThisDayCntOfSearch > 0 ? ThisDayCntOfSearch - LastDayCntOfSearch : 0;
                    const divisionOfSearch = ThisDayCntOfSearch > 0 && LastDayCntOfSearch !== 0
                        ? ((differenceOfSearch / LastDayCntOfSearch) * 100).toFixed(2)
                        : '-';

                    // 카드 내용 업데이트
                    const requestSectionOfSearch = document.querySelector('.BestSearchCard dl dd');
                    const percentageSectionOfSearch = document.querySelector('.BestSearchCard dl:nth-of-type(2) dd');

                    if (ThisDayCntOfSearch !== 0) {
                        requestSectionOfSearch.innerHTML = `${BestGUGUN} <span class="unit">${BestSIDO}</span>`;
                        percentageSectionOfSearch.innerHTML = `<span class="up"></span> - <span class="unit">%</span>`;
                    } else {
                        requestSectionOfSearch.innerHTML = `0건 <span class="unit"></span>`;
                        percentageSectionOfSearch.innerHTML = differenceOfSearch >= 0
                            ? `<span class="up"></span> ${divisionOfSearch} <span class="unit">%</span>`
                            : `<span class="down"></span> ${divisionOfSearch} <span class="unit">%</span>`;
                    }




                }
            })
        }
        // 카드데이터
        function cardData() {
            $.ajax({
                url: '/api/factDashboard/cardDatas',
                type: 'GET',
                data: {},
                async: false,
                success: function (data) {
                    data2 = data.data;
                    // 총 가입자 수 카드
                    let LastMonthCNT = data2.CardList[0].LAST_MONTH_COUNT;
                    let ThisMonthCNT = data2.CardList[0].THIS_MONTH_COUNT;
                    const differenceOfSignup = ThisMonthCNT - LastMonthCNT;
                    const divisionOfSignup = LastMonthCNT !== 0 ? ((differenceOfSignup / LastMonthCNT) * 100).toFixed(2) : '전월 0건'; // 퍼센트 계산
                    const requestSectionOfSignup = document.querySelector('.ThisMonthSignupCard dl dd');
                    requestSectionOfSignup.innerHTML = `${ThisMonthCNT} <span class="unit">명</span>`;
                    const percentageSectionOfSignup = document.querySelector('.ThisMonthSignupCard dl:nth-of-type(2) dd');
                    if(differenceOfSignup >= 0) {
                        percentageSectionOfSignup.innerHTML = `<span class="up"></span> ${divisionOfSignup} <span class="unit">%</span>`;
                    }else{
                        percentageSectionOfSignup.innerHTML = `<span class="down"></span> ${divisionOfSignup} <span class="unit">%</span>`;
                    }

                    // 미답변 문의건수 카드
                    let YUC = data2.NotAnswerQnAList[0].YUC;
                    let TUC = data2.NotAnswerQnAList[0].TUC;
                    const differenceA = TUC - YUC;
                    const divisionA = YUC !== 0 ? ((differenceA / YUC) * 100).toFixed(2) : '전일 0건'; // 퍼센트 계산
                    const requestSectionA = document.querySelector('.AnswerCard dl dd');
                    requestSectionA.innerHTML = `${TUC} <span class="unit">건</span>`;
                    const percentageSectionA = document.querySelector('.AnswerCard dl:nth-of-type(2) dd');
                    percentageSectionA.innerHTML = `${divisionA} <span class="unit">%</span>`;
                }
            })
        }
    </script>
    <!--</body>-->
</th:block>
</html>
