
<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사용자 로그인 현황</h2> <!--모바일 사용자 로그인 현황보여줌-->
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>회원관리</li>
                <li>사용자 로그인 현황</li>
            </ul>
        </div>
        <!-- Select -->

        <div class="tab-wrap">
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab3" style="height: 820px;">
                    <div class="section-top">
                        <form id="searchForm3" autocomplete="off">
                            <div class="search-wrap">
                                <dl>
                                    <dt>
                                        발생일<span class="eq">*</span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input class="tac w150 date_from" type="text" id="srchStartDt"
                                                       name="srchStartDt" readonly/>
                                                <label for="srchStartDt" class="hide">시작일</label>
                                            </li>
                                            <li>
                                                <input class="tac w150 date_to" type="text" id="srchEndDt"
                                                       name="srchEndDt" readonly/>
                                                <label for="srchEndDt" class="hide">종료일</label>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="keyword">
                                            이름<span class="eq">*</span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <div class="srch-box">
                                            <input id="keyword" name="keyword" class="form-control2" placeholder="사용자명"/>
                                        </div>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                        <li>
                                            <a class="btn btn-delete" title="검색" id="btnSearch3" onclick="fetchListData()">
                                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘" >
                                                검색
                                            </a>
                                        </li>
                                    </dd>
                                </dl>

                            </div>
                        </form>

                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 700px;"></div>
                    </div>

                    <div class="btn-wrap">
                    </div>
                </section>

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->

    <footer style="margin-top: 12px;">
        <p>Copyrightⓒ factCheck corp.All rights reserved.</p>
    </footer>
</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        let theGrid;

        $(document).ready(function() {
            // 현재 날짜 설정
            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth();

            // 시작일
            const startOfYear = new Date(year, 0, 1);
            const startYearFormatted = `${startOfYear.getFullYear()}-${String(startOfYear.getMonth() + 1).padStart(2, '0')}-${String(startOfYear.getDate()).padStart(2, '0')}`;
            $('#srchStartDt').val(startYearFormatted);

            // 종료일
            const endOfMonth = new Date(year, month + 1, 0);
            const endMonthFormatted = `${endOfMonth.getFullYear()}-${String(endOfMonth.getMonth() + 1).padStart(2, '0')}-${String(endOfMonth.getDate()).padStart(2, '0')}`;
            $('#srchEndDt').val(endMonthFormatted);

        });

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {
            fetchListData();
        }

        function fetchListData() {
            const params = {
                srchStartDt: $('#srchStartDt').val(),
                srchEndDt: $('#srchEndDt').val(),
                keyword: $('#keyword').val()
            };
            $.ajax({
                url: '/api/system/loginlog/read2',
                type: 'GET',
                data: params,
                success: function (response) {
                    if (response && Array.isArray(response.data)) {
                        data = response.data.map((item, index) => ({
                            rownum: index + 1,
                            name: item.name || '',
                            login_id: item.login_id || '' ,
                            state: item.state || '',
                            login_time: item.login_time || '',
                            logout_time: item.logout_time || '',
                            useTime: item.useTime || '',
                            email: item.email || '',
                            views: item.views || '',
                            remark: item.remark || ''
                        }));

                        while (data.length < 15) {
                            data.push({
                                rownum: data.length + 1,
                                name: '',
                                login_id: '',
                                state: '',
                                login_time: '',
                                logout_time: '',
                                useTime: '',
                                email: '',
                                views: '',
                                remark: '',
                            });
                        }
                    }
                    const viewdata = new wijmo.collections.CollectionView(data);

                    if (!theGrid) {
                        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                            autoGenerateColumns: false,
                            isReadOnly: true,
                            columns: [
                                { binding: 'rownum', header: 'No', width: 80, align: 'center' },
                                { binding: 'login_id', header: '사용자ID', width: 160, align: 'center' },
                                { binding: 'name', header: '사용자명', width: 160, align: 'center' },
                                { binding: 'state', header: '상태', width: 130, align: 'center' },
                                { binding: 'login_time', header: '로그인 시간', width: 200, align: 'center' },
                                { binding: 'logout_time', header: '로그아웃 시간', width: 200, align: 'center' },
                                { binding: 'useTime', header: '이용 시간', width: 170, align: 'center' },
                                { binding: 'email', header: '이메일', width: 220, align: 'center' },
                                { binding: 'views', header: '조회건수', width: 90, align: 'center' },
                                { binding: 'remark', header: '비고', width: '*', align: 'center' },
                            ],
                            itemsSource: viewdata,
                        });
                        theGrid.rowHeaders.columns.splice(0, 1);
                    } else {
                        theGrid.itemsSource = viewdata;
                    }
                },
            });
        }

    </script>
</th:block>

</html>