
<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사용자 로그인 현황</h2>
                <!--                <a title="북마크" class="bookmark toggle">-->
                <!--                    내메뉴-->
                <!--                </a>-->
            </div>
            <ul class="page-navi">
                <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
                <li>회원관리</li>
                <li>사용자 로그인 현황</li>
            </ul>
        </div>
        <!-- Select -->

        <div class="tab-wrap">
            <div class="tab-contents">
                <!-- Section -->
                <section class="tab-item" id="tab3" style="height: 820px;">
                    <div class="section-top">
                        <form id="searchForm3" autocomplete="off">
                            <div class="search-wrap">
                                <dl>
                                    <dt>
                                        발생일<span class="eq">*</span>
                                    </dt>
                                    <dd>
                                        <ul class="date-box">
                                            <li>
                                                <input class="tac w150 date_from" type="text" id="srchStartDt"
                                                       name="srchStartDt" readonly/>
                                                <label for="srchStartDt" class="hide">시작일</label>
                                            </li>
                                            <li>
                                                <input class="tac w150 date_to" type="text" id="srchEndDt"
                                                       name="srchEndDt" readonly/>
                                                <label for="srchEndDt" class="hide">종료일</label>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="keyword">
                                            이름<span class="eq">*</span>
                                        </label>
                                    </dt>
                                    <dd>
                                        <div class="srch-box">
                                            <input id="keyword" name="keyword" class="form-control2" placeholder="회원명"/>
                                        </div>
                                    </dd>
                                </dl>

                                <dl>
                                    <dt><span class="eq"></span></dt>
                                    <dd>
                                        <li>
                                            <a class="btn btn-delete" title="검색" id="btnSearch3">
                                                <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                                                검색
                                            </a>
                                        </li>
                                    </dd>
                                </dl>

                            </div>
                        </form>

                    </div> <!--//section-top end -->
                    <div class="container-fluid">
                        <p id="selectedItem"></p>
                        <div id="theGrid" style="max-height: 700px;"></div>
                    </div>

                    <div class="btn-wrap">
                    </div>
                </section>

            </div> <!--//tab-contens end-->
        </div> <!--//tab-wrap end-->
    </div> <!--//layout-contents end -->


</th:block>
<th:block layout:fragment="scripts">
    <th:block th:replace="/common/approve_box :: approve_box"></th:block>
    <th:block th:replace="/common/ax5_uploader :: ax5_uploader"></th:block>
    <th:block th:replace="/common/upload_one_image_box :: upload_one_image_box"></th:block>
    <th:block th:replace="/common/popup_select_user_code :: popup_select_user_code"></th:block>

    <script type="text/javascript">

        let theGrid;

        $(document).ready(function() {
            // 현재 날짜 설정
            const today = new Date();
            const year = today.getFullYear();
            const month = today.getMonth();

            // 시작일
            const startOfYear = new Date(year, 0, 1);
            const startYearFormatted = `${startOfYear.getFullYear()}-${String(startOfYear.getMonth() + 1).padStart(2, '0')}-${String(startOfYear.getDate()).padStart(2, '0')}`;
            $('#srchStartDt').val(startYearFormatted);

            // 종료일
            const endOfMonth = new Date(year, month + 1, 0);
            const endMonthFormatted = `${endOfMonth.getFullYear()}-${String(endOfMonth.getMonth() + 1).padStart(2, '0')}-${String(endOfMonth.getDate()).padStart(2, '0')}`;
            $('#srchEndDt').val(endMonthFormatted);

        });

        document.readyState === 'complete' ? init() : window.onload = init;

        function init() {
            fetchListData();
        }

        function fetchListData() {
            let data2 = [
                {rownum: 1,name: '홍길동',state: 'login',login_time: '2024-12-19 09:00:00',logout_time: '2024-12-19 18:00:00',useTime: '9시간 0분',email: 'hong@example.com',number: 2,remark: ''},
                {rownum: 2,name: '김철수',state: 'logout',login_time: '2024-12-18 08:50:00',logout_time: '2024-12-18 17:40:00',useTime: '8시간 50분',email: 'kim@example.com',number: 3,remark: ''},
                {rownum: 3,name: '박영희',state: 'logout',login_time: '',logout_time: '',useTime: '0시간 0분',email: 'park@example.com',number: 1,remark: ''},
                {rownum: 4,name: '최수진',state: 'login',login_time: '2024-12-19 08:45:00',logout_time: '2024-12-19 18:10:00',useTime: '9시간 25분',email: 'choi@example.com',number: 4,remark: ''},
                {rownum: 5,name: '이민호',state: 'logout',login_time: '2024-12-18 09:10:00',logout_time: '2024-12-18 18:05:00',useTime: '8시간 55분',email: 'lee@example.com',number: 5,remark: ''}
            ];
            // 서버에서 데이터 가져오기
            /*$.ajax({
              url: '/api/ProgressStatus/read',
              type: 'GET',
              data: queryParams,
              async: false,
              success: function (response) {
                // 응답이 올바르게 도착했고, data 속성이 배열인지 확인
                if (response && Array.isArray(response.data)) {
                  data2 = response.data.map((item, index) => ({
                    rownum: index + 1
                  }));
                }
              },
              error: function () {
                console.error("데이터를 가져오는 중 오류가 발생했습니다.");
              }
            });*/

            while (data2.length < 10) {
                data2.push({
                    rownum: data2.length + 1,
                    name: '',
                    state: '',
                    login_time: '',
                    logout_time: '',
                    useTime: '',
                    email: '',
                    number: '',
                    remark: '',
                });
            }

            const viewdata = new wijmo.collections.CollectionView(data2);

            if (!theGrid) {
                theGrid = new wijmo.grid.FlexGrid('#theGrid', {
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: true,
                    columns: [
                        {binding: 'rownum', header: 'No', width: 80, align: 'center'},
                        {binding: 'name', header: '사용자명', width: 160, align: 'center'},
                        {binding: 'state', header: '상태', width: 150, align: 'center'},
                        {binding: 'login_time', header: '로그인 시간', width: 200, align: 'center'},
                        {binding: 'logout_time', header: '로그아웃 시간', width: 200, align: 'center'},
                        {binding: 'useTime', header: '이용 시간', width: 160, align: 'center'},
                        {binding: 'email', header: '이메일', width: 200, align: 'center'},
                        {binding: 'number', header: '조회건수', width: 90, align: 'center'},
                        {binding: 'remark', header: '비고', width: "*", align: 'center'},
                    ],
                    itemsSource: viewdata
                });

                theGrid.rowHeaders.columns.splice(0, 1);
            } else {
                theGrid.itemsSource = viewdata;
            }
        }
    </script>
</th:block>

</html>